%tr.nested-fields
  %td= f.association :from_city, label: false, include_blank: false, prompt: 'Select From City', input_html: {rel: 'autocomplete'}
  %td= f.association :to_city, label: false, include_blank: false,  prompt: 'Select To City', input_html: {rel: 'autocomplete'}
  %td= f.input :percentage, label: false, input_html: {class: 'input-mini'}
  %td
    = f.input :cost, wrapper: :prepend, label: false ,input_html: {class: 'input-small'} do
      %span.add-on> R
      = f.input_field :cost
  %td
    = f.input :distance, wrapper: :append, label: false do
      = f.input_field :distance,  class: 'input-small'
      %span.add-on> Km
  %td= link_to_remove_association "Remove", f, class: t('buttons.mini.danger')
