%tr.nested-fields
  %td= f.association :from, label: false, include_blank: false, prompt: 'Select From Destination', input_html: {rel: 'autocomplete'}
  %td= f.association :to, label: false, include_blank: false,  prompt: 'Select To Destination', input_html: {rel: 'autocomplete'}
  %td
    = f.input :percentage, wrapper: :append,label: false do
      = f.input_field :percentage,  class: 'input-mini calc'
      %span.add-on> %
  %td
    = f.input :cost, wrapper: :prepend, label: false  do
      %span.add-on> R
      = f.input_field :cost,  class: 'input-small'
  %td
    = f.input :distance, wrapper: :append, label: false do
      = f.input_field :distance,  class: 'input-small'
      %span.add-on> Km
  %td= f.input :depart, as: :time_picker, label: false,  input_html: {class: 'input-small'}
  %td= f.input :arrive, as: :time_picker, label: false,  input_html: {class: 'input-small'}
  %td= link_to_remove_association "Remove", f, class: t('buttons.mini.danger')
