%tr.nested-fields
  %td= f.object.from_city_name
  %td= f.object.to_city_name
  %td= f.input_field :percentage, as: :percentage, label: false, class: 'input-small calc'
  %td= f.input_field :cost, as: :cost, label: false, class: 'input-small'
  %td= f.input_field :distance, as: :distance, label: false, class: 'input-small'
  %td= f.input_field :depart, as: :time_picker, label: false, class: 'input-small'
  %td= f.input_field :arrive, as: :time_picker, label: false, class: 'input-small'
  %td= link_to_remove_association 'Remove', f, class: t('buttons.mini.danger')
