.page-header
  %h2 Connections
#errors= errors_for @route
= simple_form_for @route, defaults: {error: false} , url: wizard_path do |f|
  %fieldset
    - bootstrap_table headers:['From', 'To','Percentage of Cost','Distance', ''], types: [:bordered, :condensed], html_options: {id: 'connections'} do
      = f.simple_fields_for :connections, wrapper: false do |connection|
        = render 'routes/builder/connection_fields', f: connection
    .links
      = link_to_add_association 'Add Connection', f, :connections, data: {association_insertion_node: 'tbody', association_insertion_method: 'append'}
  .form-actions
    = f.submit class: 'btn btn-primary'
    = link_to 'Cancel', route_builder_path(route_id: @route), method: :delete ,class: 'btn'

