= content_for(:title) do
  Route Wizard - Connections
= content_for(:actions) do
  %h4 Notes:
  %ol
    %li
      %p
        %strong Percentage:
        %em When changing the percentage, the cost will be recalculated and updated (eg. 50% will make the cost half of the #{content_tag(:strong, 'Master Rate')})
    %li
      %p
        %strong Cost:
        %em When changing the cost, the percentage will be recalculated and updated (eg. half of the #{content_tag(:strong, 'Master Rate')} will make the percentage 50%)

#errors= errors_for @route
= simple_form_for @route, defaults: { error: false }, url: wizard_path, method: :patch do |f|
  %fieldset
    = bootstrap_table headers: ['From', 'To', 'Percentage', 'Cost', 'Distance', 'Depart Time', 'Arrive Time', ''], types: [:hover, :condensed], html_options: { id: 'connections', data: { route_cost: f.object.cost }} do
      = f.simple_fields_for :connections, wrapper: false do |connection|
        = render 'routes/builder/connection_fields', f: connection
  .control-group
    .controls
      = f.submit 'Finish', class: t('buttons.primary')
      = link_to 'Cancel', @route, method: :delete, class: t('buttons.danger')




