.page-header
  %h2 Destinations
#errors= errors_for @route
= simple_form_for @route, defaults: {error: false} , url: wizard_path do |f|
  %fieldset
    - bootstrap_table headers:['City', 'Order', ''], types: [:bordered, :condensed], html_options: {id: 'destinations'} do
      = f.simple_fields_for :destinations, wrapper: false do |destination|
        = render 'routes/builder/destination_fields', f: destination
    .links
      = link_to_add_association 'Add Destination', f, :destinations, data: {association_insertion_node: 'tbody', association_insertion_method: 'append'}
  .form-actions
    = f.submit class: t('buttons.primary')
    = link_to 'Cancel', route_builder_path(route_id: @route), method: :delete ,class: t('buttons.default')


