.page-header
  %h2 Route
#errors= errors_for @route
= simple_form_for @route, url: wizard_path,  defaults: {error: false} ,html: {class: 'form-horizontal'} do |f|
  %fieldset
    = f.association :start_city, include_blank: false, prompt: 'Select Start City', input_html: {rel: 'autocomplete'}
    = f.association :end_city, include_blank: false ,prompt: 'Select End City', input_html: {rel: 'autocomplete'}
    = f.input :cost, wrapper: :prepend do
      %span.add-on> R
      = f.input_field :cost
    = f.input :distance, wrapper: :append do
      = f.input_field :distance
      %span.add-on> Km

  .form-actions
    = f.submit class: t('buttons.primary')
    = link_to 'Cancel', route_builder_path(route_id: @route), method: :delete ,class: t('buttons.default')
