.page-header
  %h2 Route
#errors= errors_for @route
= simple_form_for @route, url: wizard_path,  defaults: {error: false} ,html: {class: 'form-horizontal'} do |f|
  %fieldset
    = f.association :start_city
    = f.association :end_city
    = f.input :cost
    = f.input :distance
  .form-actions
    = f.submit class: 'btn btn-primary'
    = link_to 'Cancel', routes_path, class: 'btn'
