%tr[seasonal_discount]
  %td= seasonal_discount.name
  %td= seasonal_discount.passenger_type
  %td= seasonal_discount.percentage
  %td= seasonal_discount.period_from
  %td= seasonal_discount.period_to
  %td= seasonal_discount.active
  %td= seasonal_discount.activation_link
