<tr>
  <td>
    <% if seasonal_discount.active? %>
      <%= link_to seasonal_discount_path(seasonal_discount, seasonal_discount: { active: false }), method: :patch, class: 'btn btn-xs btn-danger' do %>
       <%= fa_icon :times, text: 'Deactivate' %>
      <% end %>
  <% else %>
        <%= link_to seasonal_discount_path(seasonal_discount, seasonal_discount: { active: true }), method: :patch, class: 'btn btn-xs btn-danger' do %>
            <%= fa_icon :times, text: 'Activate' %>
        <% end %>
    <% end %>
  </td>
  <td>
    <%= seasonal_discount.name %>
  </td>
  <td>
    <%= seasonal_discount.passenger_type.description.titleize %>
  </td>
  <td>
    <%= number_to_percentage(seasonal_discount.percentage, precision: 2) %>
  </td>
  <td data-dateformat="ll">
    <%= time_tag(seasonal_discount.period_from) %>
  </td>
  <td data-dateformat="ll">
    <%= time_tag(seasonal_discount.period_to) %>
  </td>
  <td>
    <%= seasonal_discount.active? ? 'Yes' : 'No' %>
  </td>
</tr>
