<%= content_for :title do %>
    New Priority Pricing
<% end %>
<div class="page-header">
  <h2>New Priority Pricing</h2>
</div>
<div class="row">
  <div class="span6 pull-right">
    <div class="calculator well well-small">
      <h4>Discount calculator</h4>
      <div class="discounted-price">
        <label for="discounted-price">New Price</label>
        <input id="discounted-price" type="<%= :text %>" value="0"/>
      </div>
      <div class="original-price">
        <label for="original-price">Original Price</label>
        <input id="original-price" type="<%= :text %>" value="0"/>
      </div>
      <div class="results">
        <p id="difference">
          <strong>Difference:</strong>
          <span>0</span>
        </p>
        <p id="percentage">
          <strong>Percentage:</strong>
          <span>0</span>
        </p>
      </div>
    </div>
  </div>
  <div class="span6 pull-left">
    <%= simple_form_for @seasonal_discount,  defaults: { error: false }, html: { class: 'form-horizontal' } do |f| %>

        <fieldset>
          <%= f.input :name, autofocus: true, placeholder: 'Name' %>
          <%= f.association :passenger_type, include_blank: false, label_method: :description %>
          <%= f.input :percentage, placeholder: 'Percentage' %>
          <%= f.input :period_from, as: :date_picker, placeholder: 'Period From' %>
          <%= f.input :period_to, as: :date_picker, placeholder: 'Period To' %>
          <%= f.input :active, as: :boolean, inline_label: true, label: false %>
        </fieldset>
        <div class="control-group">
          <div class="controls">
            <%= f.button :submit  %>
            <%= link_to 'Cancel', seasonal_discounts_path, class: 'btn btn-default' %>
          </div>
        </div>
    <% end %>
  </div>
</div>
