<div id="errors">
  <%= errors_for @trip %>
</div>
<%= simple_form_for @trip, defaults: { error: false }, html: { class: 'form-horizontal' } do |f| %>
    <div class="control-group">
      <div class="controls">
        <%= f.submit class: t('buttons.primary') %>
        <%= link_to 'Cancel', trips_path, class: t('buttons.danger') %>
      </div>
    </div>
    <fieldset>
      <%= f.input :name, autofocus: true, placeholder: 'Name' %>
      <%= f.input :start_date, as: :date_picker,  placeholder: 'Start Date' %>
      <%= f.input :end_date, as: :date_picker,  placeholder: 'End Date' %>
      <%= f.association :route, as: :radio_buttons, item_wrapper_class: 'inline' %>
      <%= f.association :bus, as: :radio_buttons, item_wrapper_class: 'inline' %>
      <%= f.association :drivers, as: :check_boxes, item_wrapper_class: 'inline' %>
      <%= f.input :notes, as: :text, placeholder: 'Notes' %>
    </fieldset>
    <div class="control-group">
      <div class="controls">
        <%= f.submit  class: t('buttons.primary') %>
        <%= link_to 'Cancel', trips_path, class: t('buttons.danger') %>
      </div>
    </div>
<% end %>
