%tr
  %td=link_to trip.name, trip_path(trip)
  %td= l trip.start_date, format: :long
  %td= l trip.end_date, format: :long
  %td= trip.route.description
  %td= trip.bus.name
  %td= l trip.created_at
  %td
    = link_to 'Show', trip, icon: 'icon-info', class: 'btn btn-info btn-mini'
    = link_to 'Edit', edit_trip_path(trip), icon: 'icon-edit',  class: 'btn btn-inverse btn-mini'
    = link_to 'Destroy', trip, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-mini btn-danger', icon: 'icon-remove'