- trip_decorator = decorate(trip)
%tr
  %td
    = trip_decorator.copy_link class: t('buttons.mini.warning'), data: { toggle: 'tooltip', title: 'Click here to create a copy of this trip.' }, rel: 'tooltip'
    = trip_decorator.trip_sheet_link target: '_blank', class: t('buttons.mini.default')
    = trip_decorator.show_link class: t('buttons.mini.info')
    - unless trip_decorator.booked?
      = trip_decorator.edit_link class: t('buttons.mini.inverse')
      = trip_decorator.destroy_link class: t('buttons.mini.danger'), data: { confirm: 'Are you sure you want to destroy this trip?' }
  %td= link_to trip.name, trip
  %td= trip_decorator.day
  %td{ data: { dateformat: 'll' } }= trip_decorator.start_date
  %td{ data: { dateformat: 'll' } }= trip_decorator.end_date
  %td= trip_decorator.route_name
  %td= trip_decorator.bus_name


