- trip_presenter = TripPresenter.new(trip, self)
%tr
  %td=link_to trip_presenter.name, trip_path(trip)
  %td= trip_presenter.trip_day
  %td= trip_presenter.start_date
  %td= trip_presenter.end_date
  %td= trip_presenter.route_name
  %td= trip_presenter.bus_name
  %td= trip_presenter.created_at
  %td
    = link_to 'Copy', copy_trip_path(trip), icon: :copy ,class: t('buttons.mini.warning'), method: :post, data: {toggle: "tooltip", title:"Click here to create a copy of this trip."}, rel: 'tooltip'
    = link_to 'Generate TripSheet', trip_sheet_path(trip), icon: :road ,class: t('buttons.mini.default'), target: '_blank'
    = link_to 'Show', trip, icon: :info, class: t('buttons.mini.info')
    = link_to 'Edit', edit_trip_path(trip), icon: :edit,  class: t('buttons.mini.inverse')
    -#= link_to 'Destroy', trip, method: :delete, data: { confirm: t('messages.confirm', resource: :trip) }, class: 'btn btn-mini btn-danger', icon: :times