%tr
  %td=link_to trip.name, trip_path(trip)
  %td= l trip.start_date, format: :long if trip.start_date.present?
  %td= l trip.end_date, format: :long if trip.end_date.present?
  %td= trip.route.presence
  %td= trip.bus_name.presence
  %td= l trip.created_at
  %td
    = link_to 'Copy', copy_trip_path(trip), icon: 'fa fa-copy' ,class: 'btn btn-warning btn-mini', method: :post
    = link_to 'Show', trip, icon: 'fa fa-info', class: 'btn btn-info btn-mini'
    = link_to 'Edit', trip_builder_path(:details, trip_id: trip), icon: 'fa fa-edit',  class: 'btn btn-inverse btn-mini'
    = link_to 'Destroy', trip, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-mini btn-danger', icon: 'fa fa-times'