<tr>
  <td>
    <%= link_to copy_trip_path(trip), method: :post, class: 'btn btn-warning btn-mini', data: { toggle: 'tooltip', title: 'Click here to create a copy of this trip.' }, rel: 'tooltip' do %>
        <%= fa_icon :copy, text: 'Copy' %>
    <% end %>
    <%= link_to trip_sheet_path(trip), class: 'btn btn-default btn-mini', target: '_blank' do %>
        <%= fa_icon :road, text: 'Tripsheet' %>
    <% end %>
    <%= link_to trip, class: 'btn btn-info btn-mini' do %>
        <%= fa_icon :info, text: 'Show' %>
    <% end %>
    <% unless trip.bookings.size > 0 %>
        <%= link_to edit_trip_path(trip), class: 'btn btn-inverse btn-mini' do %>
            <%= fa_icon :edit, text: 'Edit' %>
        <% end %>
        <%= link_to trip, method: :delete, class: 'btn btn-danger btn-mini', data: { confirm: t('messages.confirm', resource: :trip) } do %>
            <%= fa_icon :times, text: 'Destroy' %>
        <% end %>
    <% end %>
  </td>
  <td>
    <%= link_to trip.name, trip %>
  </td>
  <td>
    <%=  l(trip.start_date, format: :day) %>
  </td>
  <td data-dateformat="ll">
    <%= local_date(trip.start_date) %>
  </td>
  <td data-dateformat="ll">
    <%= local_date(trip.end_date)%>
  </td>
  <td>
    <%= trip.route_name %>
  </td>
  <td>
    <%= trip.bus_name %>
  </td>
</tr>
