- TripDecorator.decorate(trip, self) do |decorated_trip|
  %tr
    %td
      = decorated_trip.copy_link(icon: :copy, class: t('buttons.mini.warning'))
      = decorated_trip.generate_tripsheet_link(icon: :road, class: t('buttons.mini.default'))
      = decorated_trip.show_link(icon: :info, class: t('buttons.mini.info'))
      = decorated_trip.edit_link(icon: :edit,  class: t('buttons.mini.inverse'))
      = decorated_trip.destroy_link(icon: :times, class: t('buttons.mini.danger'))
    %td= link_to decorated_trip.name, trip_path(trip)
    %td= decorated_trip.trip_day
    %td{data: { dateformat: "ll"}}= decorated_trip.start_date
    %td{data: { dateformat: "ll"}}= decorated_trip.end_date
    %td= decorated_trip.route_name
    %td= decorated_trip.bus_name

