= content_for(:title) do
  Edit #{@trip.name} #{l @trip.start_date, format: :long}

.page-header
  %h2 Edit Trip

#errors= errors_for @trip


= simple_form_for @trip, defaults: { error: false }, html: { class: 'form-horizontal' } do |f|
  .control-group
    .controls
      = f.submit class: t('buttons.primary')
      = link_to 'Back', trips_path, class: t('buttons.info')
  %hr
  %fieldset
    .row-fluid
      .span6
        = f.input :name, autofocus: true
        = f.input :start_date, as: :date_picker
        = f.input :end_date, as: :date_picker
        = f.input :route, disabled: true, input_html: { value: f.object.route.name }, readonly: true
        = f.input :notes, as: :text
      .span6
        = f.input :bus, disabled: true, input_html: { value: f.object.bus.name }, readonly: true
        = f.association :drivers, as: :check_boxes

  %hr
  %fieldset
    = bootstrap_table headers: %w(Connection Arrive Depart), types: [:hover, :condensed], html_options: { id: 'stops' } do
      = f.simple_fields_for :stops, wrapper: false do |stop|
        %tr
          %td= stop.object.connection.name
          %td= stop.input :depart, label: false, input_html: { class: 'input-small'}
          %td= stop.input :arrive, label: false, input_html: { class: 'input-small'}
  .control-group
    .controls
      = f.submit class: t('buttons.primary')
      = link_to 'Back', trips_path, class: t('buttons.info')
