= content_for(:title) do
  Edit #{@trip.name} #{l @trip.start_date, format: :long}

.page-header
  %h2 Edit Trip

#errors= errors_for @trip

%ul.nav.nav-tabs
  %li.active
    %a{ href: '#details', data: { toggle: 'tab' }  } Details
  %li
    %a{ href: '#stops', data: { toggle: 'tab' }  } Stops


= simple_form_for @trip, defaults: { error: false }, html: { class: 'form-horizontal' } do |f|
  .control-group
    .controls
      = f.submit class: t('buttons.primary')
      = link_to 'Back', trips_path, class: t('buttons.info')
  .tab-content
    .tab-pane.active#details
      %fieldset
        = f.input :name, autofocus: true
        = f.input :start_date, as: :date_picker
        = f.input :end_date, as: :date_picker
        = f.association :route, as: :radio_buttons, item_wrapper_class: 'inline'
        = f.association :bus, as: :radio_buttons, item_wrapper_class: 'inline'
        = f.association :drivers, as: :check_boxes
        = f.input :notes, as: :text
    .tab-pane#stops
      %fieldset
        = bootstrap_table headers: %w(From To Arrive Depart), types: [:hover, :condensed], html_options: { id: 'stops' } do
          = f.simple_fields_for :stops, wrapper: false do |stop|
            %tr
              %td= stop.object.from_city_name
              %td= stop.object.to_city_name
              %td= stop.input :depart, as: :time_picker, label: false
              %td= stop.input :arrive, as: :time_picker, label: false
  .control-group
    .controls
      = f.submit class: t('buttons.primary')
      = link_to 'Back', trips_path, class: t('buttons.info')
