.page-header
  %h1 Trips

%table.table.table-striped
  %tr
    %th=Trip.human_attribute_name(:name)
    %th=Trip.human_attribute_name(:start_date)
    %th=Trip.human_attribute_name(:end_date)
    %th=Trip.human_attribute_name(:route_id)
    %th=Trip.human_attribute_name(:bus_id)
    %th=Trip.human_attribute_name(:created_at)
    %th Actions

  - @trips.each do |trip|
    %tr
      %td=link_to trip.name, trip_path(trip)
      %td= trip.start_date
      %td= trip.end_date
      %td= trip.route.description
      %td= trip.bus.name
      %td= trip.created_at
      %td
        = link_to 'Edit', edit_trip_path(trip), class: 'btn btn-small btn-info'
        = link_to 'Destroy', trip, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-small btn-danger'

%br

= link_to 'New Trip', new_trip_path, class: 'btn btn-primary'


