<%= content_for(:title) do %>
    Trips
<% end %>
<div class="page-header">
  <h2>
    Trips
    <br/>
    <small>Total: <%= current_trips_count %></small>
  </h2>
  <p>
    Page <strong><%= @trips.current_page %></strong> of <strong><%= @trips.total_pages %></strong>
  </p>
  <p>
    <%= page_entries_info @trips %>
  </p>
  <%= paginate @trips %>
  <%= link_to 'Setup Trip', new_trip_path, class: t('buttons.primary'), icon: :plus %>
  <%= link_to 'Refresh', trips_path, class: t('buttons.default'), icon: :refresh %>
  <div class="search pull-right">
    <%= simple_form_for :q, url: search_trips_path, defaults: {required: false, label: false}, html: {class: 'form-inline', id: 'trip_search', method: :get, data: {type: :html}} do |f| %>
        <%= f.input :start_date_eq, as: :date_picker, placeholder: 'Search trip dates' %>
        <%= f.input :name_cont, as: :search_box %>
        <%= f.submit 'Search', class: t('buttons.mini.warning') %>
        <%= link_to 'Clear', trips_path, class: t('buttons.mini.inverse'), icon: :times %>
    <% end %>
  </div>
</div>
<div id="trips">
  <% if @trips.any? %>
      <% cache @trips do %>
          <%= bootstrap_table headers: ['Actions', 'Name', 'Day of Week', 'Start Date', 'End Date', 'Route', 'Bus'], types: %i(hover condensed), html_options: {class: 'sortable'} do %>
              <%= render @trips, cache: true %>
          <% end %>
      <% end %>
  <% else %>
      <div class="hero-unit text-center">
        <h3 class="text-error">There are currently no trips on the system. Click <strong>'Setup Trip'</strong> above to create one.</h3>
      </div>
  <% end %>
</div>
<br/>
<div class="actions">
  <%= link_to 'Setup Trip', new_trip_path, class: t('buttons.primary'), icon: :plus %>
  <%= link_to 'Refresh', trips_path, class: t('buttons.default'), icon: :refresh %>
</div>
