.page-header
  %h2
    Trips
    %br
    %small Total: #{current_trips_count}

.search.pull-right
  = simple_form_for :q, url: trips_path, defaults: { required: false, label: false }, html: {class: 'form-inline',method: :get} do |f|
    = f.input :start_date_eq, as: :date_picker, placeholder: 'Search trip dates'
    = f.input :name_cont, placeholder: 'Search', input_html: {class: 'search-query'}
    = f.submit 'Search', class: t('buttons.mini.warning')
    = link_to 'Clear', trips_path, class: t('buttons.mini.inverse'), icon: :times

- cache(cache_key_for_collection(@trips, build_cache_key_from_ransack_search(@q))) do

  = link_to 'Setup Trip', trip_builder_index_path(trip_id: :building), class: t('buttons.primary'), icon: :plus, method: :post
  = link_to 'Refresh', trips_path, class: t('buttons.default'), icon: :refresh

  = paginate trips

  - bootstrap_table headers:['Name','Day of Week','Start Date','End Date','Route','Bus','Created At', 'Actions'], types: [:bordered, :striped, :condensed], html_options: {class: 'sortable'} do
    = render trips

  = paginate trips


  = link_to 'Setup Trip', trip_builder_index_path(trip_id: :building), class: t('buttons.primary'), icon: :plus, method: :post
  = link_to 'Refresh', trips_path, class: t('buttons.default'), icon: :refresh


