<%= content_for(:title) do %>
    Trips
<% end %>
<div class="page-header">
  <h2>
    Trips
  </h2>
  <p>
    Page <strong><%= @trips.current_page %></strong> of <strong><%= @trips.total_pages %></strong>
  </p>
  <p>
    <%= page_entries_info @trips %>
  </p>
  <%= link_to new_trip_path,  class: 'btn btn-primary' do %>
      <%= fa_icon :plus, text: 'Setup trip' %>
  <% end %>
  <%= link_to trips_path, class: 'btn btn-default' do %>
      <%= fa_icon :refresh, text: 'Refresh' %>
  <% end %>
  <div class="search pull-right">
    <%= simple_form_for :q, url: search_trips_path, defaults: {required: false, label: false}, html: {class: 'form-inline', id: 'trip_search', method: :get, data: {type: :html}} do |f| %>
        <%= f.input :start_date_eq, as: :date, use_short_month: true, start_year: Date.current.year, order: [:day, :month, :year], input_html: { class: 'input-small' }  %>
        <%= f.input :name_cont, as: :search_box, placeholder: 'Search name' %>
        <%= f.button :submit, 'Search', class: 'btn btn-mini btn-warning'  %>
        <%= link_to trips_path, class: 'btn btn-mini btn-inverse' do %>
            <%= fa_icon :times, text: 'Clear' %>
        <% end %>
    <% end %>
  </div>
</div>
<div id="trips">
  <% if @trips.any? %>
      <%= paginate @trips %>
      <% cache @trips do %>
          <%= bootstrap_table headers: ['Actions', 'Name', 'Day of Week', 'Start Date', 'End Date', 'Route', 'Bus'], types: %i(hover condensed), html_options: {class: 'sortable'} do %>
              <%= render @trips, cache: true %>
          <% end %>
      <% end %>
      <%= paginate @trips %>
 <% else %>
      <div class="hero-unit text-center">
        <h3 class="text-error">There are currently no trips on the system. Click <strong>'Setup Trip'</strong> above to create one.</h3>
      </div>
  <% end %>
</div>
<br/>
<div class="actions">
  <%= link_to trips_path,  class: 'btn btn-primary' do %>
      <%= fa_icon :plus, text: 'Setup trip' %>
  <% end %>
  <%= link_to trips_path, class: 'btn btn-default' do %>
      <%= fa_icon :refresh, text: 'Refresh' %>
  <% end %>
</div>
