- cache trip do
  .page-header
    %h1 Trip

  .form-actions
    = back_to trips_path
    = link_to 'Edit', edit_trip_path(trip), icon: :edit, class: t('buttons.info')
    = link_to 'Destroy', trip_path(trip), method: :delete, data: { confirm: t('messages.confirm', resource: :trip) },icon: :times ,class: t('buttons.danger')

  .well
    %p
      %strong Name:
      %br
      = trip.name
    %p
      %strong Start Date:
      %br
      = trip.start_date
    %p
      %strong End Date:
      %br
      = trip.end_date
    %p
      %strong Route
      %br
      =  trip.route
    %p
      %strong Notes
      %br
      = trip.notes
    %p
      %strong Bus
      %br
      = trip.bus
    %p
      %strong Drivers:
      %ul
        = list_of(trip.drivers) do |driver|
          = driver.full_name
  .well
    %p
      %strong Stops:
      - bootstrap_table headers:['From', 'To','Depart Time', 'Arrival Time', 'Available Seats'], types: [:bordered, :striped, :condensed], html_options: {class: 'sortable'} do
        - trip.stops.each do |stop|
          - cache stop do
            %tr
              %td= stop.from
              %td= stop.to
              %td= stop.depart_time
              %td= stop.arrive_time
              %td= stop.available_seats
  .form-actions
    = back_to trips_path
    = link_to 'Edit', edit_trip_path(trip), icon: :edit, class: t('buttons.info')
    = link_to 'Destroy', trip_path(trip), method: :delete, data: { confirm: t('messages.confirm', resource: :trip) },icon: :times ,class: t('buttons.danger')












