= content_for (:title) do
  #{@trip.name} #{l @trip.start_date, format: :long}
.page-header
  %h1 Trip
  .actions
    = back_to trips_path
    = link_to 'Edit', edit_trip_path(@trip), icon: :edit, class: t('buttons.info')
    = link_to_unless(@trip.bookings.any?, 'Destroy', @trip, method: :delete, icon: :times, class: t('buttons.mini.danger'), data: { confirm:'Are you sure you want to destroy this trip?'  }) {}

- cache @trip do
  - content_for :sidebar do
    = display_occupancy(@trip)

  .well
    %h4 Details
    = render 'trips/shared/details', trip: @trip
    %h4 Bookings
    = render 'trips/shared/bookings', trip: @trip
.actions
  = back_to trips_path
  = link_to 'Edit', edit_trip_path(@trip), icon: :edit, class: t('buttons.info')
  = link_to_unless(@trip.bookings.any?, 'Destroy', @trip, method: :delete, icon: :times, class: t('buttons.mini.danger'), data: { confirm: 'Are you sure you want to destroy this trip?' }) {}














