- cache @trip do
  - TripDecorator.decorate(@trip, self)  do |decorated_trip|
    .page-header
      %h1 Trip
      .actions
        = back_to trips_path
        = decorated_trip.edit_link(icon: :edit, class: t('buttons.info'))

    .well
      %p
        %strong Name:
        %br
        = decorated_trip.name
      %p
        %strong Start Date:
        %br
        = decorated_trip.start_date
      %p
        %strong End Date:
        %br
        = decorated_trip.end_date
      %p
        %strong Route
        %br
        = decorated_trip.route_name
      %p
        %strong Notes
        %br
        = decorated_trip.notes
      %p
        %strong Bus
        %br
        = decorated_trip.bus_name
      %p
        %strong Drivers:
        %ul
          = list_of(decorated_trip.drivers) do |driver|
            = driver.full_name
    .well
      %p
        %strong Stops:
        - bootstrap_table headers: ['From', 'To', 'Depart Time', 'Arrival Time', 'Available Seats'], types: %i(bordered condensed), html_options: { class: 'sortable' } do
          = render partial: 'stops/stop', collection: decorated_trip.stops, cache: true
    .actions
      = back_to trips_path
      = decorated_trip.edit_link(icon: :edit, class: t('buttons.info'))












