<%= content_for(:title) do %>
    <%= "#{@trip.name} #{@trip.start_date}" %>
<% end %>

<div class="page-header">
  <h1>Trip</h1>
  <div class="actions">
    <%= back_to trips_path %>
    <% unless @trip.booked? %>
       <%= link_to edit_trip_path(@trip), class: 'btn btn-info' do %>
        <%= fa_icon :edit, text: 'Edit' %>
       <% end %>
        <%= link_to @trip, method: :delete, class: 'btn btn-danger', data: { confirm: 'Are you sure you want to destroy this trip?' } do %>
            <%= fa_icon :times, text: 'Destroy' %>
        <% end %>
  <% end %>
  </div>
</div>

<% cache @trip do %>
  <% content_for(:sidebar) do %>
     <%= display_occupancy(@trip) %>
  <% end %>
<div class="well">
  <h4>Details</h4>
  <%= render 'trips/shared/details', trip: @trip %>
  <h4>Bookings</h4>
  <%= render 'trips/shared/bookings', trip: @trip %>
</div>
<% end %>
<div class="actions">
  <%= back_to trips_path %>
  <% unless @trip.booked? %>
      <%= link_to edit_trip_path(@trip), class: 'btn btn-info' do %>
          <%= fa_icon :edit, text: 'Edit' %>
      <% end %>
      <%= link_to @trip, method: :delete, class: 'btn btn-danger', data: { confirm: 'Are you sure you want to destroy this trip?' } do %>
          <%= fa_icon :times, text: 'Destroy' %>
      <% end %>
  <% end %>
</div>
