- cache connection do
  - connection_presenter = ConnectionPresenter.new(connection, self)
  %tr
    %td= connection_presenter.from_city
    %td= connection_presenter.to_city
    %td= connection_presenter.distance
    %td= connection_presenter.percentage
    %td= connection_presenter.cost
    %td= connection_presenter.depart_time
    %td= connection_presenter.arrive_time
