- cache connection do
  %tr
    %td= connection.from
    %td= connection.to
    %td= connection.distance
    %td= connection.percentage
    %td= connection.cost
    %td= connection.depart_time
    %td= connection.arrive_time
