- cache connection do
  %tr
    %td= connection_counter.next
    %td= connection.from_destination
    %td= connection.to_destination
    %td= connection.distance
    %td= connection.percentage
    %td= connection.cost
