= simple_form_for note, html: { data: { type: :html, note: "##{dom_id(note)}" } }, remote: true do  |f|
  = f.input :content, as: :text, placeholder: 'Add notes here', label: false, input_html: { class: 'input-xlarge', rows: 5 }
  = f.hidden_field :context
  = f.submit class: t('buttons.mini.primary')

%strong To edit a note, click on it and it will appear in the form to be edited.
%br


