<% if stops.any? %>
  <% stops.group_by { |s| s.trip.start_date.beginning_of_month }.sort.each do |month, stops_for_month| %>
    <h4>
      <%= time_tag(month, format: :month) %>
    </h4>
    <table class='table table-condensed'>
      <% stops_for_month.each do |stop| %>
        <tr>
          <td>
            <%= simple_form_for booking, namespace: stop.id, url: wizard_path, method: :patch, wrapper: false ,defaults: {label: false} do |f| %>
              <% if step == :trip_details %>
                <%= render 'stops.html.erb', form: f, stop: stop %>
              <% else %>
                <%= f.simple_fields_for :return_booking, namespace: stop.id do |return_booking| %>
                  <%= render 'stops.html.erb', form: return_booking, parent_form: f ,stop: stop %>
                <% end %>
              <% end %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </table>
  <% end %>
<% else %>
  <div class="jumbotron text-center">
    <h3>There are no trips available. To setup a trip please press the button below.</h3>
    <%= link_to new_trip_path, class: 'btn btn-info', target: '_blank' do %>
      <%= fa_icon :plus, text: 'Setup trip' %>
    <% end %>
  </div>
<% end %>
