<%= content_for (:title) do %>
  Booking Wizard - Billing information
<% end %>
<%= content_for (:actions) do %>
  <%= link_to 'Back', previous_wizard_path, class: 'btn btn-default' %>
  <%= link_to 'Cancel', booking_path(@booking), method: :delete, class: 'btn btn-danger' %>
<% end %>
<%= simple_form_for @booking, url: wizard_path, defaults: { label: false } do |f| %>
  <div class="form-group">
    <%= f.button :submit, 'Complete (alt + n)', autofocus: true, accesskey: 'n', class: 'btn btn-success' %>
  </div>
  <table id='line_items' class='table table-condensed table-condensed'>
    <thead>
      <tr>
        <th>Description</th>
        <th>Amount</th>
      </tr>
    </thead>
    <tbody>
      <%= f.simple_fields_for :invoice do |invoice| %>
        <%= invoice.simple_fields_for :line_items, wrapper: false do |line_item| %>
          <tr class="<%= dom_class(line_item.object) %>" id="<%= dom_id(line_item.object) %>" data-type="<%= line_item.object.line_item_type %>">
            <td>
              <%= line_item.input :description, input_html: { class: 'input-sm' } %>
            </td>
            <td class="amount">
              <%= line_item.input :amount, input_html: { class: 'input-sm', value: number_with_precision(line_item.object.amount, precision: 2) } %>
            </td>
            <%= line_item.input :line_item_type, as: :hidden, value: line_item.object.line_item_type %>
          </tr>
        <% end %>
      <% end %>
      <%= f.simple_fields_for :return_booking do |rf| %>
        <%= rf.simple_fields_for :invoice do |rf_invoice| %>
          <%= rf_invoice.simple_fields_for :line_items, wrapper: false do |rf_line_item| %>
            <tr class="<%= dom_class(rf_line_item.object) %>" id="<%= dom_id(rf_line_item.object) %>" data-type="<%= rf_line_item.object.line_item_type %>">
              <td>
                <%= rf_line_item.input :description, input_html: { class: 'input-sm' } %>
              </td>
              <td class="amount">
                <%= rf_line_item.input :amount, input_html: { class: 'input-sm', value: number_with_precision(rf_line_item.object.amount, precision: 2) } %>
              </td>
              <%= rf_line_item.input :line_item_type, as: :hidden, value: rf_line_item.object.line_item_type %>
            </tr>
          <% end %>
        <% end %>
      <% end %>
      <tr>
        <td>
          <strong>Total:</strong>
        </td>
        <td class="total">
          <strong>
          </strong>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="form-group">
    <%= f.button :submit, 'Complete (alt + n)', autofocus: true, accesskey: 'n', class: 'btn btn-success' %>
  </div>
<% end %>
