<%= content_for (:title) do %>
  Booking Wizard - Choose return trip
<% end %>
<%= content_for (:actions) do %>
  <h4>
    Note:
      <small>
      <em>This step is optional, click Next to go to the next step if you do not wish to book a return</em>
    </small>
  </h4>
  <hr/>
  <%= link_to 'Next (alt + n)', next_wizard_path, class: 'btn btn-success btn-sm', autofocus: true, accesskey: 'n' %>
  <%= link_to 'Back', previous_wizard_path, class: 'btn btn-default btn-sm' %>
  <%= link_to 'Cancel', booking_path(@booking), method: :delete, class: 'btn btn-danger btn-sm' %>
<% end %>
<div class='row'>
  <div class='col-md-3'>
    <div class="trip-finder well well-sm">
      <h5>Search</h5>
      <%= simple_form_for :q, url: wizard_path(:return_trip_details), html: { id: 'return_trip_search' }, method: :get, remote: true do |f| %>
      <%= f.input :connection_from_city_id_eq, collection: cities, label: false, autofocus: true, input_html: { class: 'combo-box',  data: { placeholder: 'Select from city' } }  %>
      <%= f.input :connection_to_city_id_eq, collection: cities, label: false, input_html: { class: 'combo-box', data: { placeholder: 'Select to city' } }  %>
      <%= f.input :trip_start_date_eq, placeholder: 'Trip date', label: false, input_html: { class: 'datepicker'  }  %>
      <%= f.hidden_field :available_seats_gteq %>
      <%= f.button :submit, 'Search', class: 'btn btn-success btn-block', data: { disable_with: 'Searching...' } %>
    <% end %>
    </div>
  </div>
  <div class="trips col-md-8">
    <%= render partial: 'bookings/wizard/trips', locals: { booking: @booking, stops: @stops } %>
  </div>
</div>
