<%= content_for (:title) do %>
    Booking Wizard - Choose return trip
<% end %>
<%= content_for (:actions) do %>
    <h4>
      Note:
      <small>
        <em>This step is optional, click Next to go to the next step if you do not wish to book a return</em>
      </small>
    </h4>
    <hr/>
    <%= link_to 'Next (alt + n)', next_wizard_path, class: 'btn btn-success', autofocus: true, accesskey: 'n' %>
    <%= link_to 'Back', previous_wizard_path, class: 'btn btn-default' %>
    <%= link_to 'Cancel', booking_path(@booking), method: :delete, class: 'btn btn-danger' %>
<% end %>
<div class="trip-finder well well-small">
  <h5>Search</h5>
  <%= simple_form_for :q, url: wizard_path(:return_trip_details), html: { class: 'form-inline', id: 'return_trip_search' }, method: :get, remote: true do |f| %>
      <%= f.input :connection_from_city_id_eq, collection: cities, label: false, autofocus: true, input_html: {  data: { behaviour: 'dropdown', placeholder: 'Select from city' } }  %>
      <%= f.input :connection_to_city_id_eq, collection: cities, label: false, input_html: { data: { behaviour: 'dropdown', placeholder: 'Select to city' } }  %>
      <%= f.input :trip_date, placeholder: 'Trip date', label: false, input_html: { data: { behaviour: :datepicker } }  %>
      <%= f.hidden_field :available_seats_gteq %>
      <%= f.button :submit, 'Search', class: 'btn btn-success' %>
  <% end %>
</div>
<div class="trips">
  <%= render partial: 'bookings/wizard/trips', locals: { booking: @booking, stops: @stops } %>
</div>
