<tr>
  <td>
    <%= link_to trip_sheet_path(trip), class: 'btn btn-default btn-mini', target: '_blank' do %>
        <%= fa_icon :road, text: 'Tripsheet' %>
    <% end %>
    <%= link_to trips_archive_path(trip), class: 'btn btn-info btn-mini' do %>
        <%= fa_icon :info, text: 'Show' %>
    <% end %>
  </td>
  <td>
    <%= link_to trip.name, trip %>
  </td>
  <td>
    <%=  time_tag(trip.start_date, format: :day) %>
  </td>
  <td data-dateformat="ll">
    <%= time_tag(trip.start_date) %>
  </td>
  <td data-dateformat="ll">
    <%= time_tag(trip.end_date) %>
  </td>
  <td>
    <%= trip.route_name %>
  </td>
  <td>
    <%= trip.bus_name %>
  </td>
</tr>
