<%= content_for (:title) do %>
  Archived Trips
<% end %>
<div class="page-header">
  <h2>Trip Archives</h2>
  <%= link_to trips_archives_path, class: 'btn btn-default' do %>
      <%= fa_icon :refresh, text: 'Refresh' %>
  <% end %>
  <div class="search pull-right">
    <%= simple_form_for :q, url: search_trips_archives_path, defaults: { required: false, label: false }, html: { class: 'form-inline', id: 'archived_trip_search', method: :get, data: { type: :html } } do |f| %>
        <%= f.input :start_date_eq, as: :date_picker, placeholder: 'Search trip dates' %>
        <%= f.input :name_cont, as: :search_box %>
        <%= f.submit 'Search', class: 'btn btn-mini btn-warning'  %>
        <%= link_to trips_archives_path, class: 'btn btn-mini btn-inverse' do %>
            <%= fa_icon :times, text: 'Clear' %>
        <% end %>
    <% end %>
  </div>
</div>
<div id="archived_trips">
  <%= render partial: 'trips', locals: { trips: @trips } %>
</div>
<%= link_to trips_archives_path, class: 'btn btn-default' do %>
    <%= fa_icon :refresh, text: 'Refresh' %>
<% end %>