= content_for (:title) do
  #{@trip.name} #{@trip.start_date}
.page-header
  %h1 Trip
  .actions
    = back_to trips_archives_path

- cache @trip do
  - content_for :sidebar do
    = display_occupancy(@trip)

  .well
    %h4 Details
    = render 'trips/shared/details', trip: @trip
    %h4 Bookings
    = render 'trips/shared/bookings', trip: @trip

.actions
  = back_to trips_archives_path
