<%= bootstrap_table headers: ['Name', 'Start Date', 'Route', 'Bus', 'Drivers'], types: [:hover, :condensed] do %>
    <tr>
      <td>
        <%= trip.name %>
      </td>
      <td>
        <%=  local_date(trip.start_date) %>
      </td>
      <td>
        <%= trip.route_name %>
      </td>
      <td>
        <%= trip.bus_name %>
      </td>
      <td>
        <ul class="inline">
          <% trip.drivers.each do |driver| %>
            <li><%= driver.name %></li>
          <% end %>
        </ul>
      </td>
    </tr>
<% end %>
