= bootstrap_table headers: ['Name', 'Start Date', 'Route', 'Bus', 'Drivers'], types: [:hover, :condensed] do
  %tr
    %td= trip.name
    %td= l(trip.start_date, format: :long)
    %td= trip.route.name
    %td= trip.bus.name
    %td= trip.drivers.map(&:full_name).join(',')