= content_for(:title) do
  Payment Details

.page-header
  %h2 Enter Payment Details
  %h4 Booking Reference: #{@booking.reference_no}

#errors= errors_for @payment_detail
= simple_form_for [@booking, @payment_detail], defaults: { error: false }, html: { class: 'form-horizontal' } do |f|
  %fieldset
    = f.input :reference, label: 'Client Payment Reference', hint: 'Put the reference from the bank for the client payment.'
    = f.input :payment_type, collection: PaymentDetail::PAYMENT_TYPES, include_blank: false, prompt: 'Select a payment type', selected: @booking.client_bank
    = f.input :payment_date, as: :date_time_picker
  .form-actions
    = f.submit class: t('buttons.primary')
    = link_to 'Cancel', bookings_path, class: t('buttons.default')

