- if @stops.any?
  - bootstrap_table headers:['Trip', 'Start Date', 'From', 'To' ,'Pricing','Available Seats', 'Qty'], types: [:bordered]  do
    - @stops.each do |stop|
      %tr
        %td{style: 'display:none'}
          = simple_form_for @booking, namespace: stop.id, url: wizard_path(:returns) ,method: :patch ,wrapper: false, defaults: {label: false} do |f|
            = f.simple_fields_for :return do |return_f|
              %td= stop.trip.name
              %td= stop.trip.start_date
              %td= stop.from.city.name
              %td= stop.to.city.name
              %td=link_to 'View Prices', pricing_show_url(stop_id: stop), remote: true
              %td= stop.available_seats
              %td= @booking.quantity
              %td
                = token_tag
                = return_f.hidden_field :quantity, value: @booking.quantity
                = return_f.hidden_field :trip_id, value: stop.trip.id
                = return_f.hidden_field :stop_id, value: stop.id


            %td= f.submit 'Book Return', class: t('buttons.primary')
- else
  %p
    %strong
      No trips could be found

