- if stops.any?
  - stops.group_by { |s| s.trip.start_date.beginning_of_month }.sort.each do |month, stops_for_month|
    %h4= l(month, format: :month)
    = bootstrap_table types: [:condensed] do
      - stops_for_month.each do |stop|
        %tr
          %td
            = simple_form_for booking, namespace: stop.id, url: wizard_path(:trip_details), method: :patch, wrapper: false, defaults: { label: false } do |f|
              = bootstrap_table headers: ['Trip', 'Start Date', 'From', 'To', 'Available Seats', 'Pricing', 'Qty', 'Return?'], types: [:condensed] do
                %tr
                  %td= link_to stop.trip.name, trip_path(stop.trip_id), target: '_blank'
                  %td= l(stop.trip.start_date, format: :long)
                  %td= stop.from_city_name
                  %td= stop.to_city_name
                  %td= stop.available_seats
                  %td= link_to 'View Prices', pricing_path(stop.connection), target: '_blank'
                  %td= f.input :quantity, as: :integer, input_html: { min: 1, max: stop.available_seats, value: 1, class: 'input-mini' }
                  %td= f.input :has_return, as: :boolean, input_html: { class: 'input-mini', checked: ((booking.stop == stop) && booking.has_return) }
                  %td
                    = token_tag
                    = f.hidden_field :trip_id, value: stop.trip_id
                    = f.hidden_field :stop_id, value: stop.id
                    = f.submit 'Book', class: t('buttons.primary')
- else
  .hero-unit.text-center
    %h3 There are no trips available. To add a new trip please press the button below.
    = link_to 'New Trip', new_trip_path, class: t('buttons.large.primary'), icon: :plus, method: :post, target: '_blank'



