- if @trips
  - bootstrap_table headers:['Trips'], types: [:bordered] do
    - @trips.each do |trip|
      %tr
        %td
          = simple_form_for :trip, namespace: trip.id ,url: booking_builder_index_url, wrapper: false, defaults: {label: false} do |f|
            %table.table-bordered
              - table_headers(['Name', 'Start', 'End', 'Connection', 'Qty'])
              %tr
                %td= trip.name
                %td= trip.start_date
                %td= trip.end_date
                %td= f.input :stop, collection: trip.stops, label_method: :name, include_blank: false, input_html: {rel: 'autocomplete'}
                %td= f.input :seats, as: :integer
                %td
                  = f.hidden_field :id, value: trip.id
                  = f.submit 'Book', class: t('buttons.primary')
- else
  %p
    %strong
      No trips could be found

