#errors= errors_for @booking
= simple_form_for @booking_form, url: wizard_path(:client_details), defaults: {error: false}, html: {class: 'form-horizontal'} do |f|
  .search
    %fieldset
      %legend Search for client
      = f.input :client_search, typeahead: clients_url(format: :json), label: false, placeholder: 'Search for client', input_html: {value: '', data: {target: '#booking_client_attributes_id', populate: '.new_client_fields'}}
  .new_client_fields
    = f.simple_fields_for :client do |client|
      %fieldset
        %legend Or add a new one
        .row
          .span3
            = client.input :title, collection: Client::TITLES, include_blank: true, label: 'Select a title'
            = client.input :name
            = client.input :surname
            = client.input :id_number
            = client.input :bank_id, include_blank: true, label: 'Select a bank', collection: Bank.all
          .span3
            = client.input :home_no, as: :tel
            = client.input :work_no, as: :tel
            = client.input :cell_no, as: :tel
            = client.input :email, as: :email
        = client.input :id, as: :hidden

  .form-actions
    = f.submit 'Next', class: t('buttons.primary')
    = link_to 'Cancel', booking_path(@booking), method: :delete ,class: t('buttons.danger')




