.page-header
  %h3 Client
#errors= errors_for @booking
= simple_form_for @booking, url: wizard_path, defaults: {error: false}, html: {class: 'form-horizontal'} do |f|
  %h4 Search for an existing or create a new client
  .well
    = f.association :client, collection: Client.all,label: false,label_method: :full_name, hint: raw("#{link_to('Add New Client', '#', icon: :plus, id: 'new_client')}") ,prompt: 'Select Existing Client',input_html: {rel: :autocomplete }
  .new_client_fields{style: 'display:none'}
    = f.simple_fields_for :client do |client|
      %fieldset
        %legend Details
        = client.input :name
        = client.input :surname
        = client.input :tel_no, as: :tel
        = client.input :cell_no, as: :tel
        = client.input :email, as: :email
      #address
        = client.simple_fields_for :address do |address|
          %fieldset
            %legend Address
            = address.input :street_address1
            = address.input :street_address2
            = address.input :city
            = address.input :postal_code



  .form-actions
    = f.submit 'Next', class: t('buttons.primary')
