<%= content_for (:title) do %>
    Booking Wizard - Choose client
<% end %>
<%= content_for (:actions) do %>
    <%= link_to 'Back', previous_wizard_path, class: 'btn btn-inverse' %>
    <%= link_to 'Cancel', booking_path(@booking), method: :delete, class: 'btn btn-danger' %>
<% end %>
<div id="errors">
  <%= errors_for @booking %>
</div>
<%= simple_form_for @booking,  url: wizard_path, defaults: { error: false }, html: { class: 'form-horizontal', method: :patch } do |f| %>
    <div class="control-group">
      <div class="controls">
        <%= f.submit 'Next (alt + n)', accesskey: 'n' %>
      </div>
    </div>
    <div class="search">
      <fieldset>
        <legend>Search for client</legend>
        <%= f.input :client_search, typeahead: clients, label: false, autofocus: true, placeholder: 'Search for client', input_html: { value: '', data: { targets: '#booking_client_attributes_id, #booking_client_id', populate: '.new_client_fields', filter: :full_name } } %>
        <%= f.input :client_id, as: :hidden %>
      </fieldset>
    </div>
    <div class="new_client_fields">
      <%= f.simple_fields_for :client, defaults: { label: false } do |client| %>
          <fieldset>
            <legend>Or add a new one</legend>
            <div class="row">
              <div class="span4">
                <%= client.input :title, collection: Client::TITLES, include_blank: true, prompt: 'Select a title' %>
                <%= client.input :name, placeholder: 'Name' %>
                <%= client.input :surname, placeholder: 'Surname' %>
                <%= client.input :city, placeholder: 'City' %>
                <%= client.input :id_number, placeholder: 'Id Number' %>
              </div>
              <div class="span4">
                <%= client.input :bank, include_blank: true, prompt: 'Select a bank', collection: Client::BANKS %>
                <%= client.input :high_risk, label: false, inline_label: true %>
                <%= client.input :cell_no, as: :tel, placeholder: 'Cell No' %>
                <%= client.input :home_no, as: :tel, placeholder: 'Home No' %>
                <%= client.input :work_no, as: :tel, placeholder: 'Work No' %>
                <%= client.input :email, as: :email, placeholder: 'Email' %>
              </div>
              <div class="span4">
                <%= client.input :street_address1, placeholder: 'Street Address 1' %>
                <%= client.input :street_address2, placeholder: 'Street Address 2' %>
                <%= client.input :postal_code, placeholder: 'Postal Code' %>
                <%= client.input :notes, placeholder: 'Notes' %>
              </div>
            </div>
            <%= client.hidden_field :user_id, value: current_user.id %>
            <%= client.input :id, as: :hidden %>
          </fieldset>
      <% end %>
    </div>
<% end %>
