.page-header
  %h3 Select A Trip


-#= simple_form_for :booking, url: booking_builder_index_url  do |f|
-#  = f.input :departure_date, as: :date_picker
-#  = f.input :return_date, as: :date_picker
-#  = f.input :from, collection: City.all, include_blank: false
-#  = f.input :to, collection: City.all.order(id: :desc), include_blank: false
-#  = f.input :quantity, as: :integer
-#  = f.input :return, as: :boolean
-#  = f.input :return_destination, collection: City.all
-#  = f.submit 'Go'

- bootstrap_table headers:['Trips'], types: [:bordered] do
  - @trips.each do |trip|
    %tr
      %td
        = simple_form_for :trip, namespace: trip.id ,url: booking_builder_index_url, wrapper: false, defaults: {label: false} do |f|
          %table.table-bordered
            - table_headers(['Name', 'Start', 'End', 'From', 'To', 'Qty', 'Actions'])
            %tr
              %td= trip.name
              %td= l trip.start_date, format: :long
              %td= l trip.end_date, format: :long
              %td= f.input :from, collection: City.all, selected: trip.from.id
              %td= f.input :to, collection: City.all, selected: trip.to.id
              %td= f.input :seats, as: :integer
              %td
                = f.hidden_field :id, value: trip.id
                = f.submit 'Go'


