.page-header
  %h3 Booking
  %h4 Select a trip

.trip-finder.well
  = simple_form_for :trip_search, url: find_trips_booking_builder_index_path, html: {class: 'form-inline'}, method: :get ,remote: true do |f|
    = f.input :date, as: :date_picker, placeholder: 'Select a date', label: false
    = f.input :route, collection: Route.all, include_blank: false, label: false, prompt: 'Select a route'
    = f.submit 'Search'

.trips
  = render partial: 'bookings/builder/trips'