= content_for (:title) do
  Booking Wizard - Passenger details
= content_for (:actions) do
  = link_to 'Back', previous_wizard_path, class: t('buttons.inverse')
  = link_to 'Cancel', booking_path(@booking), method: :delete, class: t('buttons.danger')

#errors= errors_for @booking
= simple_form_for @booking, defaults: { error: false, label: false }, url: wizard_path, html: {  method: :patch } do |f|
  .control-group
    .controls
      = f.submit 'Next (alt + n)', class: t('buttons.primary'), autofocus: true, accesskey: 'n'
  %fieldset
    = bootstrap_table headers: ['Name', 'Surname', 'Cell No', 'Email', 'Type'], types: [:hover, :condensed], html_options: { id: 'passengers' } do
      = f.simple_fields_for :passengers, wrapper: false do |passenger|
        %tr
          %td= passenger.input :name
          %td= passenger.input :surname
          %td= passenger.input :cell_no
          %td= passenger.input :email
          %td= passenger.association :passenger_type, include_blank: false
