<%= content_for (:title) do %>
    Booking Wizard - Choose return trip
<% end %>
<%= content_for (:actions) do %>
    <h4>
      Note:
      <small>
        <em>This step is optional, click Next to go to the next step if you do not wish to book a return</em>
      </small>
    </h4>
    <hr/>
    <%= link_to 'Next (alt + n)', next_wizard_path, class: t('buttons.primary'), autofocus: true, accesskey: 'n' %>
    <%= link_to 'Back', previous_wizard_path, class: t('buttons.inverse') %>
    <%= link_to 'Cancel', booking_path(@booking), method: :delete, class: t('buttons.danger') %>
<% end %>
<div class="trip-finder well well-small">
  <h5>Search</h5>
  <%= simple_form_for :q, url: wizard_path(:return_trip_details), html: { class: 'form-inline', id: 'return_trip_search' }, method: :get, remote: true do |f| %>
      <%= f.input :from_city, typeahead: cities, label: false, placeholder: 'Select from city', autofocus: true, input_html: { data: { targets: '#q_connection_from_city_id_eq', filter: :name } } %>
      <%= f.hidden_field :connection_from_city_id_eq %>
      <%= f.input :to_city, typeahead: cities, label: false, placeholder: 'Select to city', input_html: { data: { targets: '#q_connection_to_city_id_eq', filter: :name } } %>
      <%= f.hidden_field :connection_to_city_id_eq %>
      <%= f.input :trip_date, as: :date, use_short_month: true, start_year: Date.current.year, order: [:day, :month, :year], label: false, input_html: { class: 'input-medium' } %>
      <%= f.hidden_field :available_seats_gteq %>
      <%= f.submit 'Search', class: t('buttons.inverse') %>
  <% end %>
</div>
<div id="errors">
  <%= errors_for @booking %>
</div>
<div class="trips">
  <%= render partial: 'bookings/builder/trips', locals: { booking: @booking, stops: @stops } %>
</div>
