%tr{class: booking.row_class}
  %td= booking.client_name
  %td= booking.travel_date
  %td= booking.quantity
  %td= booking.trip_name
  %td= booking.from
  %td= booking.to
  %td= booking.number_of_stops
  %td= booking.status
  %td= booking.booking_date
  %td
    = link_to 'Show', booking, icon: :info, class: t('buttons.mini.info')
    = link_to 'Generate Ticket', ticket_path(booking),icon: :tasks, class: t('buttons.mini.default')
    = link_to 'Mark As Paid', mark_as_paid_booking_path(booking), method: :patch, icon: :money, class: t('buttons.mini.inverse') if booking.reserved?
    = link_to 'Cancel', cancel_booking_path(booking), method: :patch, icon: :warning, class: t('buttons.mini.warning')
    = link_to 'Destroy', booking, method: :delete, data: { confirm: 'Are you sure?' }, class: t('buttons.mini.danger'), icon: :times