- booking_decorator = decorate(booking)
= content_tag(:tr, class: booking_decorator.row_class) do
  %td
    = booking_decorator.show_link class: t('buttons.mini.info')
    = booking_decorator.ticket_link class: t('buttons.mini.default'), target: '_blank'
    = booking_decorator.confirmation_link class: t('buttons.mini.inverse')
    = booking_decorator.destroy_link class: t('buttons.mini.danger'), data: { confirm: 'Are you sure you wish to destroy this booking?' }
    = booking_decorator.cancel_link class: t('buttons.mini.warning')

  %td{ data: { dateformat: 'DD MMM' } }
    %small= booking_decorator.created_at
  %td= booking_decorator.client_link target: '_blank'
  %td
    %ul.inline
      %li= contact_number(booking_decorator.client_home_no, 'Home')
      %li= contact_number(booking_decorator.client_work_no, 'Work')
      %li=contact_number(booking_decorator.client_cell_no, 'Cell')
  %td{ data: { dateformat: 'DD MMM' } }
    %small= booking_decorator.trip_start_date
  %td= booking_decorator.quantity
  %td= booking_decorator.connection



