#myOtherSkinnedTabWrapper
  %ul.nav.nav-tabs
    %li.active
      %a{href: '#reserved', data: {toggle: :tab} }
        Reserved
        %span.badge.badge-info #{@booking_dashboard.reserved.total_count}
    %li
      %a{href: '#standby',  data: {toggle: :tab}}
        Standby
        %span.badge.badge-warning #{@booking_dashboard.standby.total_count}
    %li
      %a{href: '#paid',  data: {toggle: :tab}}
        Paid
        %span.badge.badge-success #{@booking_dashboard.paid.total_count}
    %li
      %a{href: '#cancelled',  data: {toggle: :tab}}
        Cancelled
        %span.badge.badge-important #{@booking_dashboard.cancelled.total_count}

  .tab-content
    .tab-pane.active{id: :reserved}
      = render 'bookings', bookings: @booking_dashboard.reserved, type: :reserved
    .tab-pane{id: :standby}
      = render 'bookings', bookings: @booking_dashboard.standby, type: :standby
    .tab-pane{id: :paid}
      = render 'bookings', bookings: @booking_dashboard.paid, type: :paid
    .tab-pane{id: :cancelled}
      = render 'bookings', bookings: @booking_dashboard.cancelled, type: :cancelled
