%tr{class: booking.row_class}
  %td= link_to booking.client_name, client_path(booking.client), remote: true
  %td= booking.travel_date
  %td= booking.quantity
  %td= booking.trip_name
  %td= booking.from
  %td= booking.to
  %td= booking.status
  %td= booking.booking_date
  %td= booking.expiry_date
  %td
    = link_to 'Show', booking, icon: :info, class: t('buttons.mini.info')
    = link_to 'Generate Ticket', ticket_path(booking),icon: :tasks, class: t('buttons.mini.default')
    = link_to 'Confirm', confirm_booking_path(booking), method: :patch, icon: :money, class: t('buttons.mini.inverse') if booking.reserved?
    = link_to 'Cancel', cancel_booking_path(booking), method: :patch, icon: :warning, class: t('buttons.mini.warning')
    = link_to 'Destroy', booking, method: :delete, data: { confirm: t('messages.confirm', resource: :booking) }, class: t('buttons.mini.danger'), icon: :times