#myOtherSkinnedTabWrapper
  %ul.nav.nav-tabs
    %li.active
      %a{href: '#reserved', data: {toggle: :tab} }
        Reserved
        %span.badge.badge-info #{@booking_dashboard.reserved.total_count}
    %li
      %a{href: '#standby',  data: {toggle: :tab}}
        Standby
        %span.badge.badge-warning #{@booking_dashboard.standby.total_count}
    %li
      %a{href: '#paid',  data: {toggle: :tab}}
        Paid
        %span.badge.badge-success #{@booking_dashboard.paid.total_count}
    %li
      %a{href: '#cancelled',  data: {toggle: :tab}}
        Cancelled
        %span.badge.badge-important #{@booking_dashboard.cancelled.total_count}

  .tab-content
    .tab-pane.active{id: :reserved}
      = paginate @booking_dashboard.reserved, param_name: :reserved_page
      - if @booking_dashboard.reserved.any?
        - bootstrap_table headers:['Client','Trip Date','Qty','From','To','Status','Booking Date', 'Expires In' ,'Expiry Date' ,'Actions'], types: [:bordered, :striped, :condensed], html_options: {class: 'sortable'} do
          = render partial: 'bookings/booking', collection: @booking_dashboard.reserved, cache: true
      - else
        %h3 There are currently 0 reserved bookings.
      = paginate @booking_dashboard.reserved, param_name: :reserved_page
    .tab-pane{id: :standby}
      = paginate @booking_dashboard.standby, param_name: :standby_page
      - if @booking_dashboard.standby.any?
        - bootstrap_table headers:['Client','Trip Date','Qty','From','To','Status','Booking Date', 'Expires In' ,'Expiry Date' ,'Actions'], types: [:bordered, :striped, :condensed], html_options: {class: 'sortable'} do
          = render partial: 'bookings/booking', collection:  @booking_dashboard.standby, cache: true
      - else
        %h3 There are currently 0 standby bookings.
      = paginate @booking_dashboard.standby, param_name: :standby_page
    .tab-pane{id: :paid}
      = paginate @booking_dashboard.paid, param_name: :paid_page
      - if @booking_dashboard.paid.any?
        - bootstrap_table headers:['Client','Trip Date','Qty','From','To','Status','Booking Date', 'Expires In' ,'Expiry Date' ,'Actions'], types: [:bordered, :striped, :condensed], html_options: {class: 'sortable'} do
          = render partial: 'bookings/booking', collection:  @booking_dashboard.paid, cache: true
      - else
        %h3 There are currently 0 paid bookings.
      = paginate @booking_dashboard.paid, param_name: :paid_page
    .tab-pane{id: :cancelled}
      = paginate @booking_dashboard.cancelled, param_name: :cancelled_page
      - if @booking_dashboard.cancelled.any?
        - bootstrap_table headers:['Client','Trip Date','Qty','From','To','Status','Booking Date', 'Expires In' ,'Expiry Date' ,'Actions'], types: [:bordered, :striped, :condensed], html_options: {class: 'sortable'} do
          = render partial: 'bookings/booking', collection:  @booking_dashboard.cancelled, cache: true
      - else
        %h3 There are currently 0 cancelled bookings.
      = paginate @booking_dashboard.cancelled, param_name: :cancelled_page