#myOtherSkinnedTabWrapper
  %ul.nav.nav-tabs
    %li.active
      %a{ href: '#reserved', data: { toggle: :tab } }
        Reserved
        %span.badge.badge-info= booking_presenter.reserved.total_count
    %li
      %a{ href: '#standby',  data: { toggle: :tab } }
        Standby/Expired
        %span.badge.badge-warning= booking_presenter.standby.total_count
    %li
      %a{ href: '#paid',  data: { toggle: :tab } }
        Paid
        %span.badge.badge-success= booking_presenter.paid.total_count
    %li
      %a{ href: '#cancelled',  data: { toggle: :tab } }
        Cancelled
        %span.badge.badge-important= booking_presenter.cancelled.total_count

  .tab-content
    .tab-pane.active#reserved
      = render 'bookings', bookings: booking_presenter.reserved, type: :reserved
    .tab-pane#standby
      = render 'bookings', bookings: booking_presenter.standby, type: :standby
    .tab-pane#paid
      = render 'bookings', bookings: booking_presenter.paid, type: :paid
    .tab-pane#cancelled
      = render 'bookings', bookings: booking_presenter.cancelled, type: :cancelled
