- bootstrap_table headers: ['Status', 'Reference', 'Trip', 'Travel Date', 'From', 'To', 'Price'], types: [:condensed] do
  %tr
    %td= booking.status
    %td= booking.reference_no
    %td= booking.trip_name
    %td= booking.trip_date
    %td= booking.from_city
    %td= booking.to_city
    %td= booking.price