= paginate bookings, param_name: "#{type}_page"



- if bookings.any?

  = bootstrap_table headers: ['Actions', 'Expires', 'Client', 'Contact', 'Trip Date', 'Qty', 'Connection'],
                    types: %i(hover condensed), html_options: { class: 'sortable' } do
    = render bookings, cache: true
- else
  %h3 There are currently 0 #{type} bookings.
