= content_for (:title) do
  Bookings

.page-header
  %h2 Bookings
  = link_to 'Make Booking', bookings_path, method: :post, icon: :plus, class: t('buttons.primary')
  = link_to 'Refresh', bookings_path, class: t('buttons.default'), icon: :refresh

.search.pull-right
  = simple_form_for :q, url: search_bookings_path, defaults: { required: false, label: false }, html: { class: 'form-inline', method: :get, id: 'booking_search', data: { type: :html } } do |f|
    = f.input :created_at_date_eq, as: :date_picker, placeholder: 'Search booking dates'
    = f.input :reference_no_or_client_surname_cont, as: :search_box
    = f.submit 'Search', class: t('buttons.mini.warning')
    = link_to 'Clear', bookings_path, class: t('buttons.mini.inverse'), icon: :times

.tab-wrapper#bookings
  %ul.nav.nav-tabs
    %li.active
      %a{ data: { target: '#standby', toggle: :tab } }
        Standby/Expired
        %span.badge.badge-warning= standby_booking_count
    %li
      %a{ data: { target: '#reserved', toggle: :tab } }
        Reserved
        %span.badge.badge-info= reserved_booking_count
    %li
      %a{ data: { target: '#paid',  toggle: :tab } }
        Paid
        %span.badge.badge-success= paid_booking_count
    %li
      %a{ data: { target: '#cancelled', toggle: :tab } }
        Cancelled
        %span.badge.badge-important= cancelled_booking_count

  .tab-content
    .tab-pane#reserved{ data: { type: 'reserved' } }
    .tab-pane.active#standby{ data: { type: 'standby' } }
      = render 'bookings/bookings', bookings: @bookings, type: params[:type]
    .tab-pane#paid{ data: { type: 'paid' } }
    .tab-pane#cancelled{ data: { type: 'cancelled' } }
%br
= link_to 'Make Booking', bookings_path, method: :post, icon: :plus, class: t('buttons.primary')
= link_to 'Refresh', bookings_path, class: t('buttons.default'), icon: :refresh

