<%= content_for (:title) do %>
    Bookings
<% end %>
<div class="page-header">
  <h2>Bookings</h2>
  <%= link_to bookings_path, method: :post, class: 'btn btn-primary' do %>
    <%= fa_icon :plus, text: 'Make Booking' %>
  <% end %>
  <%= link_to bookings_path, class: 'btn btn-default' do %>
    <%= fa_icon :refresh, text: 'Refresh' %>
  <% end %>
<div class="search pull-right">
  <%= render 'search_form' %>
  <p>
     <i class='small'>Search on booking date or reference no or </br> client surname or client home, work and cell numbers.</i>
  </p>   
</div>
</div>

<div class="tab-wrapper" id="bookings">
  <ul class="nav nav-tabs">
    <li class="active">
      <%= link_to bookings_path(type: :standby), data: { toggle: 'tab', target: '#standby' }, remote: true do %>
        <p> <strong>Standby/Expired</strong> <span class="label label-warning"> <%= @presenter.standby_booking_count %></span></p>
      <% end %>
    </li>
    <li>
      <%= link_to bookings_path(type: :open), data: { toggle: 'tab', target: '#open' }, remote: true do %>
          <p> <strong>Reserved</strong> <span class="label label-info"> <%= @presenter.reserved_booking_count %></span></p>
      <% end %>
    </li>
    <li>
      <%= link_to bookings_path(type: :paid), data: { toggle: 'tab', target: '#paid' }, remote: true do %>
         <p> <strong>Paid</strong> <span class="label label-success"> <%= @presenter.paid_booking_count %></span></p>
      <% end %>
    </li>
    <li>
      <%= link_to bookings_path(type: :cancelled) ,data: { toggle: 'tab', target: '#cancelled' }, remote: true do %>
          <p><strong>Cancelled</strong> <span class="label label-danger"> <%= @presenter.cancelled_booking_count %></span></p>
      <% end %>
    </li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="standby" data-type="standby">
      <%= render 'bookings/bookings', bookings: @presenter.bookings, type: params[:type] %>
    </div>
    <div class="tab-pane" id="open" data-type="open"></div>
    <div class="tab-pane" id="paid" data-type="paid"></div>
    <div class="tab-pane" id="cancelled" data-type="cancelled"></div>
  </div>
</div>

<br/>
<%= link_to bookings_path, method: :post, class: 'btn btn-primary' do %>
    <%= fa_icon :plus, text: 'Make Booking' %>
<% end %>
<%= link_to bookings_path, class: 'btn btn-default' do %>
    <%= fa_icon :refresh, text: 'Refresh' %>
<% end %>