.page-header
  %h2 Bookings

.search.pull-right
  = simple_form_for :q, url: bookings_path, defaults: { required: false, label: false }, html: {class: 'form-inline',method: :get} do |f|
    = f.input :created_at_date_eq, as: :date_picker, placeholder: 'Search booking dates'
    = f.input :reference_no_or_status_or_trip_name_or_client_name_or_client_surname_or_passengers_name_or_passengers_surname_cont, placeholder: 'Search', input_html: { class: 'search-query' }
    = f.submit 'Search', class: t('buttons.mini.warning')
    = link_to 'Clear', bookings_path, class: t('buttons.mini.inverse'), icon: :times


- bootstrap_table headers:['Client','Trip Date','Qty','Trip','From','To','Status','Booking Date', 'Expiry Date' ,'Actions'], types: [:bordered, :striped, :condensed], html_options: {class: 'sortable'} do
  = render @bookings

= link_to 'Make Booking', bookings_path, method: :post, icon: :plus, class: t('buttons.primary')
= link_to 'Refresh', bookings_path, class: t('buttons.default'), icon: :refresh

