.page-header
  %h3 Booking
  %h4 Select a trip

.trip-finder.well.well-small
  %h5 Search
  = simple_form_for :q, url: new_booking_path, html: {class: 'form-inline'}, method: :get ,remote: true do |f|
    = f.input :trip_start_date_eq, as: :date_picker, placeholder: 'Select a date', label: false
    = f.input :connection_from_city_id_eq, collection: City.all,include_blank: false, label: false, prompt: 'Select from city'
    = f.input :connection_to_city_id_eq, collection: City.all, include_blank: false, label: false, prompt: 'Select to city'
    = f.submit 'Search', class: t('buttons.inverse')

.trips
  = render partial: 'bookings/builder/trips'
