<%= content_for(:title) do %>
    Bookings Search
<% end %>
<div class="information page-header">
  <h2>
    Bookings Search
    <small>(Remember the more specific the search the higher chance of success)</small>
  </h2>
  <h3>
    Results for search term <%= [params[:q][:reference_no_or_client_surname_or_client_home_no_or_client_cell_no_or_client_work_no_cont], params[:q][:created_at_date_eq]].join(' ') %>
  </h3>
  <%= back_to bookings_path %>
  <div class="search pull-right">
    <%=  render 'search_form' %>
  </div>
</div>
<div class="sort-links">
  <ul class="list-inline">
    <li class="header">Sort By:</li>
    <li>
      <%= sort_link @search, :client_full_name, 'Client', default_order: :desc %>
    </li>
    <li class="divider"></li>
    <li>
      <%= sort_link @search, :status, 'Status' %>
    </li>
    <li class="divider"></li>
    <li>
      <%= sort_link @search, :created, 'Creation Date' %>
    </li>
    <li class="divider"></li>
    <li>
      <%= sort_link @search, :trip_start_date, 'Trip Date' %>
    </li>
    <li class="divider"></li>
    <li>
      <%= sort_link @search, :stop_connection_from_city_name, 'From City' %>
    </li>
    <li class="divider"></li>
    <li>
      <%= sort_link @search, :stop_connection_to_city_name, 'To City' %>
    </li>
  </ul>
</div>
<hr/>
<div class="bookings">
  <% if @results.any? %>
      <table class="table table-hover table-condensed sortable">
        <thead>
        <tr>
          <th>Actions</th>
          <th>Booked</th>
          <th>Client</th>
          <th>Contact</th>
          <th>Trip Date</th>
          <th>Qty</th>
          <th>Connection</th>
        </tr>
        </thead>
        <tbody>
        <%= render @results%>
        </tbody>
      </table>
  <% else %>
      <h3 class="text-center">No results were found for the specified search term.</h3>
  <% end %>
</div>
