- cache @booking do
  - BookingDecorator.decorate(@booking, self) do |decorated_booking|
    .page-header.text-center
      %h2 Booking Details
      .actions.text-center
        = decorated_booking.ticket_link(icon: :tasks, class: t('buttons.large.default'))
        = decorated_booking.confirmation_link(icon: :money, class: t('buttons.large.inverse'))
    .well
      %h4 Client information
      - bootstrap_table headers: ['Client Name', 'Home No', 'Cell No', 'Work No', 'Email'], types: [:condensed] do
        %tr
          %td= decorated_booking.client.full_name
          %td= decorated_booking.client.home_telephone
          %td= decorated_booking.client.cellphone
          %td= decorated_booking.client.work_telephone
          %td= decorated_booking.client.email
      - if decorated_booking.payment_detail
        %h5 Payment Detail
        - bootstrap_table headers: ['Payment Date', 'Customer Payment Reference', 'Payment Type'], types: [:condensed] do
          %tr
            %td= decorated_booking.payment_date
            %td= decorated_booking.payment_detail_reference
            %td= decorated_booking.payment_detail_payment_type_description
      %h4 Booking information
      - [decorated_booking, decorated_booking.return_booking, decorated_booking.main].compact.each do |booking|
        - bootstrap_table headers: ['Status', 'Reference', 'Trip', 'Travel Date', 'From', 'To', 'Price'], types: [:condensed] do
        %tr
          %td= booking.status
          %td= booking.reference_no
          %td= booking.trip_name
          %td= booking.trip_date
          %td= booking.from_city
          %td= booking.to_city
          %td= booking.price
      %h4 Passengers
      - bootstrap_table headers: ['Name', 'Type', 'Cell No', 'Email'], types: [:condensed] do
        - decorated_booking.passengers.each do |passenger|
          %tr
            %td= passenger.full_name
            %td= passenger.passenger_type_description
            %td= passenger.cellphone
            %td= passenger.email
    .actions.text-center
      = decorated_booking.ticket_link(icon: :tasks, class: t('buttons.large.default'))
      = decorated_booking.confirmation_link(icon: :money, class: t('buttons.large.inverse'))










