- cache booking do
  .page-header
    %h2 Booking
  .form-actions
    = back_to bookings_path
    = link_to 'Confirm', confirm_booking_path(booking), method: :patch, icon: :money, class: t('buttons.inverse') if @booking.reserved?
    = link_to 'Cancel', cancel_booking_path(booking), method: :patch, icon: :warning, class: t('buttons.warning') unless @booking.cancelled?
    = link_to 'Destroy', booking, method: :delete, data: { confirm: t('messages.confirm', resource: :booking) }, class: t('buttons.danger'), icon: :times if @booking.cancelled?

  .well
    %p
      %strong Reference No:
      %br
      = booking.reference
    %p
      %strong Trip:
      %br
      = booking.trip_name
    %p
      %strong Travel Date:
      %br
      = booking.travel_date
    %p
      %strong From:
      %br
      = booking.from
    %p
      %strong To:
      %br
      =  booking.to
    %p
      %strong Status:
      %br
      = booking.status
    %p
      %strong Price:
      %br
      = booking.price

  .well
    %h3 Payment Detail
    %p
      %strong Payment Type:
      %br
      = booking.payment_type
    %p
      %strong Payment Date:
      %br
      = booking.payment_date

    %p
      %strong Customer Payment Reference (Proof of payment reference from customer):
      %br
      =  booking.payment_reference

  .well
    %h3 Client
    %p
      %strong Full Name:
      %br
      = booking.client_name
    %p
      %strong Email:
      %br
      = booking.client_email
    %p
      %strong Date Of Birth:
      %br
      = booking.client_date_of_birth
    %p
      %strong Age:
      %br
      = booking.client_age

    %p
      %strong CellPhone:
      %br
      = booking.client.cellphone
    %p
      %strong Home Telephone:
      %br
      = booking.client.home_telephone
    %p
      %strong Work Telephone:
      %br
      = booking.client.work_telephone

  .well
    %h3 Passengers
    - bootstrap_table headers:['Name','Surname', 'Type', 'Cell No', 'Email'], types: [:bordered, :condensed], html_options: {id: 'passengers'} do
      - booking.passengers.each do |passenger|
        %tr
          %td= passenger.name
          %td= passenger.surname
          %td= passenger.passenger_type
          %td= passenger.cellphone
          %td= passenger.email
  .form-actions
    = back_to bookings_path
    = link_to 'Confirm', confirm_booking_path(booking), method: :patch, icon: :money, class: t('buttons.inverse') if @booking.reserved?
    = link_to 'Cancel', cancel_booking_path(booking), method: :patch, icon: :warning, class: t('buttons.warning') unless @booking.cancelled?
    = link_to 'Destroy', booking, method: :delete, data: { confirm: t('messages.confirm', resource: :booking) }, class: t('buttons.danger'), icon: :times if @booking.cancelled?














