= content_for (:title) do
  #{@booking.reference_no}

- cache @booking do
  .page-header.text-center
    %h2 Booking Details
    .actions.text-center
      = link_to_if(@booking.paid? || @booking.reserved?, 'Generate Ticket', ticket_path(@booking), icon: :tasks, class: t('buttons.large.default'), target: '_blank') {}
      = link_to_if(@booking.reserved?, 'Confirm', new_booking_payment_detail_url(@booking), icon: :money, class: t('buttons.large.inverse')) {}
  .well
    .client-information
      %h4 Client information
      = render 'bookings/shared/client_info', client: @booking.client
    .payment_detail
      - if @booking.payment_detail.present?
        %h4 Payment Detail
        = render 'bookings/shared/payment_details', payment_detail: @booking.payment_detail
    .details
      %h4 Booking information
      - [@booking, @booking.return_booking, @booking.main].compact.each do |booking|
        = render 'bookings/shared/details', booking: booking
    .passengers
      %h4 Passengers
      = render 'bookings/shared/passengers', passengers: @booking.passengers
  .actions.text-center
    = link_to_if(@booking.paid? || @booking.reserved?, 'Generate Ticket', ticket_path(@booking), icon: :tasks, class: t('buttons.large.default'), target: '_blank') {}
    = link_to_if(@booking.reserved?, 'Confirm', new_booking_payment_detail_url(@booking), icon: :money, class: t('buttons.large.inverse')) {}

