-  StopDecorator.decorate(stop, self) do |decorated_stop|
  %tr
    %td= "#{decorated_stop.from_city_name} to #{decorated_stop.to_city_name}"
    %td= decorated_stop.available_seats
    %td= @trip.bus.capacity