- stop_presenter = StopPresenter.new(stop, self)
%tr
  %td= stop_presenter.from_city_name
  %td= stop_presenter.to_city_name
  %td= stop_presenter.depart_time
  %td= stop_presenter.arrive_time
  %td= stop_presenter.available_seats