- ClientDecorator.decorate(client, self) do |decorated_client|
  %tr{ class: dom_class(client), id: dom_id(client) }
    %td
      = decorated_client.show_link(icon: :info, class: t('buttons.mini.info'))
      = decorated_client.edit_link(icon: :edit, class: t('buttons.mini.inverse'))
      = decorated_client.destroy_link(icon: :times, remote: true, class: t('buttons.mini.danger'), id: 'delete_client', data: { type: :json })
    %td= decorated_client.name
    %td= decorated_client.surname
    %td= decorated_client.high_risk
    %td= decorated_client.home_telephone
    %td= decorated_client.work_telephone
    %td= decorated_client.cellphone
    %td= decorated_client.email
