- client_decorator = decorate(client)
.span4.client.well.well-small
  .media
    .pull-left
      %i.fa.fa-user.fa-3x
    .media-body
      %h5.media-heading= link_to client.full_name, client
      %address
        %strong Contact
        %br
        = contact_number(client_decorator.home_no, 'Home')
        %br
        = contact_number(client_decorator.work_no, 'Work')
        %br
        = contact_number(client_decorator.cell_no, 'Cell')
        %br
        %abbr.initialism{ title: 'Email' } E:
        = client_decorator.email

      .btn-group.btn-group
        = client_decorator.show_link class: t('buttons.small.info')
        = client_decorator.edit_link class: t('buttons.small.inverse')
        = client_decorator.destroy_link class: "#{t('buttons.small.danger')}", data: { behavior: 'delete-client', confirm: 'Are you sure you want to destroy this client?' }, remote: true

