<div class="information page-header">
  <h4>Page <%= content_tag(:strong, clients.current_page) %> of <%= content_tag(:strong, clients.total_pages) %> for <%= params[:letter] %></h4>
  <p>
    <%= page_entries_info clients %>
  </p>
</div>
<%= paginate clients, remote: true %>
<% cache clients do %>
  <div class="clients" data-source="<%= clients_path(page: params[:page], letter: params[:letter]) %>">
    <% clients.in_groups_of(4, false) do |group| %>
      <div class="row">
        <%= render group, partial: 'clients/client', cache: true %>
      </div>
    <% end %>
  </div>
<% end %>
<%= paginate clients, remote: true %>
