.span4.client.well.well-small
  .media
    .pull-left
      %i.fa.fa-user.fa-3x
    .media-body
      %h5.media-heading= link_to client.full_name, client
      %address
        %strong Contact
        %br
        = contact_number(client.home_no.presence || 'N/A', 'Home')
        %br
        = contact_number(client.work_no.presence || 'N/A', 'Work')
        %br
        = contact_number(client.cell_no.presence || 'N/A', 'Cell')
        %br
        %abbr.initialism{ title: 'Email' } E:
        = client.email.present? ? mail_to(client.email) : 'N/A'

      .btn-group.btn-group
        = link_to 'Show', client, icon: :info, class: t('buttons.info')
        = link_to 'Edit', edit_client_path(client), icon: :edit, class: t('buttons.inverse')
        = link_to 'Destroy', client, icon: :times, class: t('buttons.danger'), method: :delete, data: { confirm: 'Are you sure you want to destroy this client?' }

