<div class="col-md-3 client" id="<%= dom_id(client) %>">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h5 class="panel-title">
        <i class="fa fa-user"></i>
        <%= link_to client.full_name, client %>
      </h5>
    </div>
    <div class="panel-body">
      <address>
        <strong>Contact</strong>
        <br/>
        <abbr class="initialism" title="Home">
          <strong>
            H:
            <%= number_to_phone(client.home_no, area_code: true).presence || 'N/A' %>
          </strong>
        </abbr>
        <br/>
        <abbr class="initialism" title="Work">
          <strong>
            W:
            <%= number_to_phone(client.work_no, area_code: true).presence || 'N/A' %>
          </strong>
        </abbr>        <br/>
        <abbr class="initialism" title="Cell">
          <strong>
            C:
            <%= number_to_phone(client.cell_no, area_code: true).presence || 'N/A' %>
          </strong>
        </abbr>        <br/>
        <abbr class="initialism" title="Email">E:</abbr>
        <%= client.email.present? ? mail_to(client.email) : 'N/A' %>
      </address>
    </div>
    <div class="panel-footer">
      <%= link_to client, class: 'btn btn-info btn-xs' do %>
        <%= fa_icon :info, text: 'Show' %>
      <% end %>
      <%= link_to edit_client_path(client), class: 'btn btn-warning btn-xs' do %>
        <%= fa_icon :edit, text: 'Edit' %>
      <% end %>
      <%= link_to client, class: 'btn btn-danger btn-xs', method: :delete, data: { behavior: 'delete-client', confirm: t('messages.confirm', resource: :client) }, remote: true do %>
        <%= fa_icon :times, text: 'Destroy' %>
      <% end %>
    </div>
  </div>
</div>
