#errors= errors_for @client
= simple_form_for @client, defaults: {error: false} ,html: {class: 'form-horizontal'} do |f|
  %fieldset
    = f.input :title, collection: Client::TITLES,include_blank: false, prompt: 'Select a title'
    = f.input :name
    = f.input :surname
    = f.input :date_of_birth, as: :date_picker
    = f.input :high_risk
    = f.association :bank, include_blank: false, prompt: 'Select a bank'
    = f.input :home_no, as: :tel
    = f.input :work_no, as: :tel
    = f.input :cell_no, as: :tel
    = f.input :email, as: :email
    = f.input :notes, as: :text
  #address
    = f.simple_fields_for :address do |address|
      = render 'clients/address_fields', f: address
  .form-actions
    = f.submit class: t('buttons.primary')
    = link_to 'Cancel', clients_path, class: t('buttons.default')
