#errors= errors_for client
= simple_form_for client, defaults: { error: false }, html: { class: 'form-horizontal' } do |f|
  .control-group
    .controls
      = f.submit class: t('buttons.primary')
      = link_to 'Cancel', clients_path, class: t('buttons.default')
  %fieldset
    .row
      .span4
        = f.input :title, collection: Client::TITLES, include_blank: true, label: 'Select a title'
        = f.input :name
        = f.input :surname
        = f.simple_fields_for :address do |address|
          = address.input :city
        = f.input :id_number
        = f.input :high_risk
        = f.input :bank, include_blank: true, label: 'Select a bank', collection: Client::BANKS
      .span4
        = f.input :cell_no, as: :tel
        = f.input :home_no, as: :tel
        = f.input :work_no, as: :tel
        = f.input :email, as: :email
      .span4
        = f.simple_fields_for :address do |address|
          = address.input :street_address1
          = address.input :street_address2
          = address.input :postal_code
        = f.input :notes, as: :text
  .control-group
    .controls
      = f.submit class: t('buttons.primary')
      = link_to 'Cancel', clients_path, class: t('buttons.default')
