<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
          xmlns:o="urn:schemas-microsoft-com:office:office"
          xmlns:x="urn:schemas-microsoft-com:office:excel"
          xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
          xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
        <Cell><Data ss:Type="String">Name</Data></Cell>
        <Cell><Data ss:Type="String">Surname</Data></Cell>
        <Cell><Data ss:Type="String">Cell No</Data></Cell>
        <Cell><Data ss:Type="String">Home No</Data></Cell>
        <Cell><Data ss:Type="String">Work No</Data></Cell>
        <Cell><Data ss:Type="String">Email</Data></Cell>
      </Row>
      <% @clients.each do |client| %>
          <Row>
            <Cell><Data ss:Type="String"><%= client.name.titleize %></Data></Cell>
            <Cell><Data ss:Type="String"><%= client.surname.titleize %></Data></Cell>
            <Cell><Data ss:Type="String"><%= number_to_phone(client.cell_no, area_code: true) %></Data></Cell>
            <Cell><Data ss:Type="String"><%= number_to_phone(client.home_no, area_code: true)  %></Data></Cell>
            <Cell><Data ss:Type="String"><%= number_to_phone(client.work_no, area_code: true)  %></Data></Cell>
            <Cell><Data ss:Type="String"><%= client.email %></Data></Cell>

          </Row>
      <% end %>
    </Table>
  </Worksheet>
</Workbook>
