= content_for(:title) do
  Clients
.page-header
  %h2
    Clients
  = link_to 'Setup Client', new_client_path, class: t('buttons.primary'), icon: :plus
  = link_to 'Refresh', clients_path, class: t('buttons.default'), icon: :refresh
  .search.pull-right
    = simple_form_for :q, url: search_clients_path, defaults: { required: false, label: false }, html: { class: 'form-inline', method: :get, id: 'client_search' } do |f|
      = f.input :full_name_cont, as: :search_box
      = f.submit 'Search', class: t('buttons.mini.warning')
      = link_to 'Clear', clients_path, class: t('buttons.mini.inverse'), icon: :times

.tabbable.tabs-left#listing
  %ul.nav.nav-tabs#directory
    - ('A'..'Z').each do |letter|
      %li
        %a{ data: { target: "##{letter}", toggle: :tab } }= letter
  .tab-content.span10
    - ('A'..'Z').each do |letter|
      .tab-pane{ id: "#{letter}" }

= link_to 'Setup Client', new_client_path, class: t('buttons.primary'), icon: :plus
= link_to 'Refresh', clients_path, class: t('buttons.default'), icon: :refresh


