= content_for(:title) do
  #{@client.full_name}
- cache @client do
  - ClientDecorator.decorate(@client, self) do |decorated_client|
    .page-header
      %h3= decorated_client.full_name
      .actions
        = back_to clients_path
        = decorated_client.edit_link(icon: :edit, class: t('buttons.inverse'))
        = decorated_client.destroy_link(icon: :times, class: t('buttons.danger'))

    .row-fluid.well.well-small
      .span4
        %h4 Details
        %p>
          %strong Title:
          = decorated_client.title
        %p>
          %strong Name:
          = decorated_client.name
        %p>
          %strong Surname:
          = decorated_client.surname
        %p>
          %strong Age:
          = decorated_client.age
        %p>
          %strong Date Of Birth:
          = decorated_client.date_of_birth
        %p>
          %strong Bank:
          = decorated_client.bank
        %p>
          %strong High Risk:
          = decorated_client.high_risk
        %p>
          %strong Notes:
          = simple_format(decorated_client.notes.presence || 'None')
      .span4
        %h4 Contact Info
        %p>
          %strong Home Telephone No:
          = decorated_client.home_telephone
        %p>
          %strong Work Telephone No:
          = decorated_client.work_telephone
        %p>
          %strong Cellphone No:
          = decorated_client.cellphone
        %p>
          %strong Email:
          = decorated_client.email
      .span4
        %h4 Address Info
        %p>
          %strong Street Address 1:
          = decorated_client.street_address1.strip.presence || "N/A"
        %p>
          %strong Street Address 2:
          = decorated_client.street_address2.strip.presence || "N/A"
        %p>
          %strong City:
          = decorated_client.city.presence || "N/A"
        %p>
          %strong Postal Code:
          = decorated_client.postal_code.presence || "N/A"
    .row-fluid

      .client-vouchers.well.well-small.span6
        %h4 Credit Vouchers
        - if decorated_client.vouchers.any?
          = bootstrap_table headers: %w(Reference Amount), types: %i(bordered condensed) do
            - decorated_client.vouchers.each do |voucher|
              %tr
                %td=voucher.ref_no
                %td=number_to_currency(voucher.amount, unit: 'R')
        - else
          %h5  This client has no vouchers
        = link_to 'Add Credit Voucher', new_client_voucher_path(@client), icon: :money, class: t('buttons.mini.warning')
      .client-bookings.well.well-small.span6
        %h4 Recent Bookings
        - if @client.bookings.recent.any?
          = bootstrap_table headers: %w(Status TripDate From To Qty), types: %i(bordered condensed), html_options: { class: 'sortable' } do
            - @client.bookings.recent.each do |booking|
              %tr
                %td
                  %span.label.label-important= booking.status.upcase
                %td{ data: { dateformat: 'll' } }= l(booking.trip_start_date, format: :long)
                %td= booking.from_city_name
                %td= booking.to_city_name
                %td
                  %span.badge.badge-info= booking.quantity
        - else
          %h5  This client has no bookings


