= content_for(:title) do
  #{@client.full_name}
- cache @client do
  .page-header
    %h3= @client.full_name
    .actions
      = back_to clients_path
      = link_to 'Edit', edit_client_path(@client), icon: :edit, class: t('buttons.inverse')
      = link_to 'Destroy', @client, icon: :times, class: t('buttons.danger'), method: :delete, data: {confirm: 'Are you sure you want to destroy this client?'}

  .row-fluid.well.well-small
    .span4
      %h4 Details
      %p>
        %strong Title:
        = @client.title.upcase
      %p>
        %strong Name:
        = @client.name
      %p>
        %strong Surname:
        = @client.surname
      %p>
        %strong Age:
        = @client.age.presence || 'N/A'
      %p>
        %strong Date Of Birth:
        = @client.date_of_birth.present? ? l(@client.date_of_birth, format: :long) : 'N/A'
      %p>
        %strong Bank:
        = @client.bank.presence || 'N/A'
      %p>
        %strong High Risk:
        = @client.high_risk? ? 'Yes' : 'No'
      %p>
        %strong
          %u Notes
        %blockquote= simple_format(@client.notes.presence || 'N/A')
    .span4
      %h4 Contact Info
      %p>
        %strong Home Telephone No:
        = number_to_phone(@client.home_no, area_code: true).presence || 'N/A'
      %p>
        %strong Work Telephone No:
        = number_to_phone(@client.work_no, area_code: true).presence || 'N/A'
      %p>
        %strong Cellphone No:
        = number_to_phone(@client.cell_no, area_code: true).presence || 'N/A'
      %p>
        %strong Email:
        = @client.email.present? ? mail_to(@client.email) : 'N/A'
    .span4
      %h4 Address Info
      %p>
        %strong Street Address 1:
        = @client.street_address1.presence || 'N/A'
      %p>
        %strong Street Address 2:
        = @client.street_address2.presence || 'N/A'
      %p>
        %strong City:
        = @client.city.presence || 'N/A'
      %p>
        %strong Postal Code:
        = @client.postal_code.presence || 'N/A'
  .row-fluid
    .client-vouchers.well.well-small.span6
      %h4 Credit Vouchers
      - if @client.vouchers.any?
        = bootstrap_table headers: %w(Reference Amount), types: %i(bordered condensed) do
          - @client.vouchers.each do |voucher|
            %tr
              %td=voucher.ref_no
              %td=number_to_currency(voucher.amount, unit: 'R')
      - else
        %h5  This client has no vouchers
      = link_to 'Add Credit Voucher', new_client_voucher_path(@client), icon: :money, class: t('buttons.mini.warning')
    .client-bookings.well.well-small.span6
      %h4 Recent Bookings
      - if @client.bookings.recent.any?
        = bootstrap_table headers: %w(Status TripDate From To Qty), types: %i(bordered condensed), html_options: { class: 'sortable' } do
          - @client.bookings.recent.each do |booking|
            %tr
              %td=status_label_for(booking)
              %td{ data: { dateformat: 'll' } }= l(booking.trip_start_date, format: :long)
              %td= booking.from_city_name
              %td= booking.to_city_name
              %td= badge_for(booking.quantity)
      - else
        %h5  This client has no bookings


