<%= content_for(:title) do %>
    <%= @client.full_name %>
<% end %>
<% cache @client do %>
    <div class="page-header">
      <h3>
        <%= @client.full_name %>
      </h3>
      <div class="actions">
        <%= back_to clients_path %>
        <%= link_to edit_client_path(@client), class: 'btn btn-inverse' do %>
            <%= fa_icon :edit, text: 'Edit' %>
        <% end %>
        <%= link_to @client, class: 'btn btn-danger', method: :delete, data: { behavior: 'delete-client', confirm: t('messages.confirm', resource: :client) } do %>
            <%= fa_icon :times, text: 'Destroy' %>
        <% end %>
      </div>
    </div>
    <div class="row-fluid well well-small">
      <div class="span4">
        <h4>Details</h4>
        <p>
          <strong>Title:</strong>
          <%= @client.title.upcase %>
        </p>
        <p>
          <strong>Name:</strong>
          <%= @client.name %>
        </p>
        <p>
          <strong>Surname:</strong>
          <%= @client.surname %>
        </p>
        <p>
          <strong>Age:</strong>
          <%= @client.age.presence || 'N/A' %>
        </p>
        <p>
          <strong>Date Of Birth:</strong>
          <%= @client.date_of_birth.present? ? local_date(@client.date_of_birth) : 'N/A' %>
        </p>
        <p>
          <strong>Bank:</strong>
          <%= @client.bank.presence || 'N/A' %>
        </p>
        <p>
          <strong>High Risk:</strong>
          <%= @client.high_risk? ? 'Yes' : 'No' %>
        </p>
        <p>
          <strong>
            <u>Notes</u>
          </strong>
            <blockquote>
              <%= simple_format(@client.notes.presence || 'N/A') %>
            </blockquote>
        </p>
      </div>
      <div class="span4">
        <h4>Contact Info</h4>
        <p>
          <strong>Home Telephone No:</strong>
          <%= number_to_phone(@client.home_no, area_code: true).presence || 'N/A' %>
        </p>
        <p>
          <strong>Work Telephone No:</strong>
          <%= number_to_phone(@client.work_no, area_code: true).presence || 'N/A' %>
        </p>
        <p>>
          <strong>Cellphone No:</strong>
          <%= number_to_phone(@client.cell_no, area_code: true).presence || 'N/A' %>
        </p>
        <p>
          <strong>Email:</strong>
          <%= @client.email.present? ? mail_to(@client.email) : 'N/A' %>
        </p>
      </div>
      <div class="span4">
        <h4>Address Info</h4>
        <p>
          <strong>Street Address 1:</strong>
          <%= @client.street_address1.presence || 'N/A' %>
        </p>
        <p>
          <strong>Street Address 2:</strong>
          <%= @client.street_address2.presence || 'N/A' %>
        </p>
        <p>
          <strong>City:</strong>
          <%= @client.city.presence || 'N/A' %>
        </p>
        <p>
          <strong>Postal Code:</strong>
          <%= @client.postal_code.presence || 'N/A' %>
        </p>
      </div>
    </div>
    <div class="row-fluid">
      <div class="client-vouchers well well-small span6">
        <h4>Credit Vouchers</h4>
        <% if @client.vouchers.any? %>
            <%= bootstrap_table headers: %w(Reference Amount), types: %i(bordered condensed) do %>
                <% @client.vouchers.each do |voucher| %>
                    <tr>
                      <td>
                        <%= voucher.ref_no %>
                      </td>
                      <td>
                        <%= number_to_currency(voucher.amount, unit: 'R') %>
                      </td>
                    </tr>
                <% end %>
            <% end %>
        <% else %>
            <h5>This client has no vouchers</h5>
        <% end %>
        <%= link_to  new_client_voucher_path(@client), class: 'btn btn-warning btn-mini' do %>
           <%= fa_icon :money, text: 'Add credit voucher' %>
        <% end %>
      </div>
      <div class="client-bookings well well-small span6">
        <h4>Recent Bookings</h4>
        <% if @client.bookings.recent.any? %>
            <%= bootstrap_table headers: %w(Status TripDate Connection Qty), types: %i(bordered condensed), html_options: { class: 'sortable' } do %>
                <% @client.bookings.recent.each do |booking| %>
                    <tr>
                      <td>
                        <%= status_label_for(booking) %>
                      </td>
                      <td data-dateformat="ll">
                        <%= local_date(booking.trip.start_date) %>
                      </td>
                      <td>
                        <%= content_tag(:span, booking.stop.name, class: 'label label-inverse') %>
                      </td>
                      <td>
                        <%= badge_for(booking.quantity) %>
                      </td>
                    </tr>
                <% end %>
            <% end %>
        <% else %>
            <h5>This client has no bookings</h5>
        <% end %>
      </div>
    </div>
<% end %>
