.page-header
  %h2 Trip
#errors= errors_for @trip

= simple_form_for @trip, url: wizard_path, defaults: {error: false} ,html: {class: 'form-horizontal'} do |f|
  .form-actions
    = f.submit 'Next', class: t('buttons.primary')
    = link_to 'Cancel', trip_path(@trip), method: :delete ,class: t('buttons.danger')
  %fieldset
    = f.input :name
    = f.input :start_date, as: :date_picker
    = f.input :end_date, as: :date_picker
    = f.association :route, as: :radio_buttons, item_wrapper_class: 'inline'
    = f.association :bus, as: :radio_buttons, item_wrapper_class: 'inline'
    = f.association :drivers, as: :check_boxes
    = f.input :notes, as: :text
  .form-actions
    = f.submit 'Next', class: t('buttons.primary')
    = link_to 'Cancel', trip_path(@trip), method: :delete ,class: t('buttons.danger')




