.page-header
  %h2 Trip
#errors= errors_for @trip

= simple_form_for @trip, url: wizard_path, defaults: {error: false} ,html: {class: 'form-horizontal'} do |f|
  %fieldset
    = f.input :name
    = f.input :start_date, as: :date_picker
    = f.input :end_date, as: :date_picker
    = f.association :route, include_blank: false, prompt: 'Select Route', input_html: {rel: 'autocomplete'}
    = f.association :bus, include_blank: false, prompt: 'Select Bus', input_html: {rel: 'autocomplete'}
    = f.association :drivers, as: :check_boxes
  .form-actions
    = f.submit class: 'btn btn-primary'
    = link_to 'Cancel', trip_builder_path(trip_id: @trip), method: :delete ,class: 'btn'




