.page-header
  %h2 Trip
#errors= errors_for @trip

= simple_form_for @trip, url: wizard_path, defaults: {error: false} ,html: {class: 'form-horizontal'} do |f|
  %fieldset
    = f.input :name
    = f.input :start_date, as: :date_picker
    = f.input :end_date, as: :date_picker
    = f.association :route, label_method: :description, include_blank: false
    = f.association :bus, include_blank: false
    = f.association :drivers, as: :check_boxes
  .form-actions
    = f.submit class: 'btn btn-primary'
    = link_to 'Cancel', trips_path, class: 'btn'



