= content_for :title do
  Edit Settings
.page-header
  %h2 Edit Setting
#errors= errors_for @setting
= simple_form_for @setting, url: setting_url(format: :html), defaults: { error: false }, method: :patch, html: { class: 'form-horizontal' } do |f|
  .control-group
    .controls
      = f.submit class: t('buttons.primary')
      = link_to 'Cancel', root_path, class: t('buttons.default')

  %fieldset
    = f.input :booking_expiry_period, autofocus: true
    = f.input :email, as: :email
    = f.input :ticket_instructions, as: :text
    = f.input :default_scripture, as: :text
    = f.input :trip_sheet_note1, as: :text
    = f.input :trip_sheet_note2, as: :text
    = f.input :trip_sheet_note3, as: :text
    = f.input :trip_sheet_note4, as: :text
  .control-group
    .controls
      = f.submit class: t('buttons.primary')
      = link_to 'Cancel', root_path, class: t('buttons.default')

