.page-header
  %h2 Settings

- if @settings.any?
  = form_tag settings_path, method: :patch do
    - @settings.each do |setting|
      = fields_for 'settings[]', setting do |setting_field|
        = setting_field.label :value, "#{setting.key.humanize}:"
        = setting_field.text_field :value
    .actions
      = submit_tag 'Save', class: t('buttons.default')

= link_to 'Add Setting', new_setting_path , class: t('buttons.primary'), icon: :plus






