<%= content_for(:title) do %>
    Settings
<% end %>
<div class="page-header">
  <h2>Settings</h2>

<div class="actions">
  <%= link_to edit_settings_path, class: 'btn btn-warning' do %>
      <%= fa_icon :edit, text: 'Edit' %>
  <% end %>
  </div>
  </div>

<dl class='dl-horizontal'>
  <dt>Booking Expiry Period:</dt>
  <dd> <%= "#{@settings.booking_expiry_period} hours" %></dd>
  <dt>Company Email:</dt>
  <dd><%= @settings.email.presence || 'N/A' %> <em>(Tickets will be sent from this email address, and this address will be bcc'ed on the ticket emails)</em></dd>
  <dt>Ticket Instructions:</dt>
  <dd> <%= simple_format(@settings.ticket_instructions) %></dd>
  <dt>Default Scripture:</dt>
  <dd> <%= simple_format(@settings.default_scripture) %></dd>
  <dt>1st Trip Sheet Note:</dt>
  <dd> <%= simple_format(@settings.trip_sheet_note1) %></dd>
  <dt>2nd Trip Sheet Note:</dt>
  <dd> <%= simple_format(@settings.trip_sheet_note2) %></dd>
  <dt>3rd Trip Sheet Note:</dt>
  <dd> <%= simple_format(@settings.trip_sheet_note3) %></dd>
  <dt>4th Trip Sheet Note:</dt>
  <dd> <%= simple_format(@settings.trip_sheet_note4) %></dd>
</dl>


