%tr
  %td
    = link_to 'Show', bookings_archive_path(booking), icon: :info, class: t('buttons.mini.info')
    = link_to_if(booking.paid? || booking.reserved?, 'Generate Ticket', ticket_path(booking), icon: :tasks, class: t('buttons.mini.default'), target: '_blank'){}
  %td= status_label_for(booking)
  %td= link_to booking.client.full_name, booking.client, target: '_blank'
  %td= number_to_phone(booking.client.home_no, area_code: true).presence || 'N/A'
  %td= number_to_phone(booking.client.cell_no, area_code: true).presence || 'N/A'
  %td= number_to_phone(booking.client.work_no, area_code: true).presence || 'N/A'
  %td{ data: { dateformat: 'll' } }= l(booking.trip_start_date, format: :long) if booking.trip_start_date.present?
  %td
    %span.badge.badge-info= booking.quantity
  %td= booking.from_city_name
  %td= booking.to_city_name


