= content_for (:title) do
  Archived Bookings

.page-header
  %h2 Archived Bookings
  = link_to 'Refresh', bookings_archives_path, class: t('buttons.default'), icon: :refresh

.search.pull-right
  = simple_form_for :q, url: search_bookings_archives_path, defaults: { required: false, label: false }, html: { class: 'form-inline', method: :get, id: 'booking_search', data: { type: :html } } do |f|
    = f.input :created_at_date_eq, as: :date_picker, placeholder: 'Search booking dates'
    = f.input :reference_no_or_client_surname_cont, as: :search_box
    = f.submit 'Search', class: t('buttons.mini.warning')
    = link_to 'Clear', bookings_archives_path, class: t('buttons.mini.inverse'), icon: :times

#bookings
  = paginate @bookings
  - if @bookings.any?
    = bootstrap_table headers: ['Actions', 'Status', 'Client Name', 'Trip Date', 'Qty', 'From', 'To'],
                      types: %i(hover condensed), html_options: { class: 'sortable' } do
      = render partial: 'bookings/archives/booking', collection: @bookings, cache: true
  - else
    %h3 There are currently 0 archived bookings.

%br
= link_to 'Refresh', bookings_archives_path, class: t('buttons.default'), icon: :refresh

