= content_for(:title) do
  Archived Bookings Search

.information.page-header
  %h2
    Archived Bookings Search
    %small (Remember the more specific the search the higher chance of success)
  %h3
    Results for search term #{[params[:q][:reference_no_or_client_surname_cont], params[:q][:created_at_date_eq]].join(' ')}
  = back_to bookings_path
  .search.pull-right
    = simple_form_for :q, url: search_bookings_archives_path, defaults: { required: false, label: false }, html: { class: 'form-inline', method: :get, id: 'booking_search', data: { type: :html } } do |f|
      = f.input :created_at_date_eq, as: :date_picker, placeholder: 'Search booking dates'
      = f.input :reference_no_or_client_surname_cont, as: :search_box
      = f.submit 'Search', class: t('buttons.mini.warning')
      = link_to 'Clear', bookings_archives_path, class: t('buttons.mini.inverse'), icon: :times
.sort-links
  %ul.inline
    %li.header Sort By:
    %li= sort_link @search, :client_full_name, "Client", default_order: :desc
    %li.divider
    %li= sort_link @search, :status, "Status", default_order: :desc
    %li.divider
    %li= sort_link @search, :stop_connection_from_city_name, "From City", default_order: :desc
    %li.divider
    %li= sort_link @search, :stop_connection_to_city_name, "To City", default_order: :desc

%hr
.bookings
  - if @results.any?
    = bootstrap_table headers: ['Actions', 'Status', 'Client Name', 'Trip Date', 'Qty', 'Connection'],
                    types: %i(hover condensed) do
      = render partial: 'bookings/archives/booking', collection: @results, cache: true

  - else
    %h3.text-center No results were found for the specified search term.