= content_for (:title) do
  #{@booking.reference_no}

- cache @booking do
  .page-header.text-center
    %h2 Booking Details
    .actions.text-center
      = back_to bookings_archives_path
  .well
    .client-information
      %h4 Client information
      = render 'bookings/shared/client_info', client: @booking.client
    .payment_detail
      - if @booking.payment_detail.present?
        %h4 Payment Detail
        = render 'bookings/shared/payment_details', payment_detail: @booking.payment_detail
    .details
      %h4 Booking information
      - [@booking, @booking.return_booking, @booking.main].compact.each do |booking|
        = render 'bookings/shared/details', booking: booking
    .passengers
      %h4 Passengers
      = render 'bookings/shared/passengers', passengers: @booking.passengers

  .actions.text-center
    = back_to bookings_archives_path

