<%= content_for (:title) do %>
  <%= @booking.reference_no %>
<% end %>
<% cache @booking do %>
  <div class="page-header text-center">
    <h2>Booking Details</h2>
    <div class="actions text-center">
      <%= back_to bookings_archives_path %>
    </div>
  </div>
  <div class='row'>
    <span class='col-md-6'>
      <div class="panel panel-default client-information">
        <div class="panel-heading">
          <h4 class="panel-title">Client information</h4>
        </div>
        <div class="panel-body">
          <%= render 'bookings/shared/client_info', client: @booking.client %>
        </div>
      </div>
    </span>
    <span class='col-md-6'>
      <div class="panel panel-default payment_detail">
        <div class="panel-heading">
          <h4 class="panel-title">Payment Detail</h4>
        </div>
        <div class="panel-body">
          <% if @booking.payment_detail.present? %>
            <%= render 'bookings/shared/payment_details', payment_detail: @booking.payment_detail %>
          <% else %>
            <p class='lead'>No payment details present.</p>
          <% end %>
        </div>
      </div>
    </span>
  </div>
  <div class="panel panel-default details">
    <div class="panel-heading">
      <h4 class="panel-title">Booking information</h4>
    </div>
    <% [@booking, @booking.return_booking, @booking.main].compact.each do |booking| %>
      <%= render 'bookings/shared/details', booking: booking %>
    <% end %>
  </div>
  <div class="panel panel-default passengers">
    <div class="panel-heading">
      <h4 class="panel-title">Passengers</h4>
    </div>
    <%= render 'bookings/shared/passengers', passengers: @booking.passengers %>
  </div>
  <div class="actions text-center">
    <%= back_to bookings_archives_path %>
  </div>
<% end %>
