.page-header.text-center
  %h1 SA CONNECTION

.client.pull-left
  %p
    %strong Name:
    = @ticket.client.full_name
  %p
    %strong Home Tel No:
    = @ticket.client.home_telephone
  %p
    %strong Work Tel No:
    = @ticket.client.work_telephone
  %p
    %strong Cell No:
    = @ticket.client.cellphone

.details.pull-right
  %p
    %strong Reference No:
    = @ticket.booking.reference_no
  %p
    %strong Today's Date:
    = l Time.zone.now, format: :long
%br
%br

.passengers
- bootstrap_table headers:['Date', 'Name' ,'From', 'Terminal', 'To' , 'Terminal', 'Departure Time', 'Arrival Time'], types: [:bordered] do
  - @ticket.passengers.each do |passenger|
    %tr
    %td= @ticket.booking.trip_start_date
    %td= passenger.full_name
    %td= @ticket.booking.from
    %td= @ticket.booking.from_venue
    %td= @ticket.booking.to
    %td= @ticket.booking.to_venue
    %td= @ticket.booking.stop.depart
    %td= @ticket.booking.stop.arrive
  - @ticket.passengers.each do |passenger|
    %tr
    %td= @ticket.return.trip_start_date
    %td= passenger.full_name
    %td= @ticket.return.from
    %td= @ticket.return.from_venue
    %td= @ticket.return.to
    %td= @ticket.return.to_venue
    %td= @ticket.return.stop.depart
    %td= @ticket.return.stop.arrive
%br

.costs.pull-left
  %p
  %strong Amount:
  = number_to_currency @ticket.total, unit: 'R'
  %p
  %strong Discount:
  = number_to_currency @ticket.total_discount, unit: 'R'
%br
%br
%br
.special-instructions.text-center
  %p
    %em= simple_format(settings.ticket_instructions)
%br
%br
.scripture.text-center
  %p
  %strong Thought for today
  %em= simple_format(ticket_scripture)

%br
%br
.ticket-details.rounded.text-center.pull-left
  %h4 Contact Details
  %h4 Office: 043 722 0284
  %h4 P.O. Box 7485, East London


.ticket-details.rounded.text-center.pull-right
  %h3 Bookings
  %h3 086 110 2426