.page-header
  %h2 Bus
= simple_form_for @bus, url: wizard_path, html: {class: 'form-horizontal'} do |f|
  %fieldset
    = f.input :name, required: false
    = f.input :capacity
    = f.input :year
    = f.input :model
  .form-actions
    = f.submit class: 'btn btn-primary'
    = link_to 'Cancel', buses_path, class: 'btn'
