- client_decorator = decorate(client)
= bootstrap_table headers: ['Client Name', 'Home No', 'Cell No', 'Work No', 'Email'], types: [:condensed] do
  %tr
    %td= client_decorator.full_name
    %td= client_decorator.home_no
    %td= client_decorator.cell_no
    %td= client_decorator.work_no
    %td= client_decorator.email