<%= bootstrap_table headers: ['Status', 'Reference', 'Trip', 'Travel Date', 'Connection', 'Price'], types: [:condensed] do %>
    <tr>
      <td>
        <%= status_label_for(booking) %>
      </td>
      <td>
        <%= booking.reference_no %>
      </td>
      <td>
        <%= booking.trip.name %>
      </td>
      <td>
        <%= local_date(booking.trip.start_date) %>
      </td>
      <td>
        <%= content_tag(:span, booking.stop.name, class: 'label label-inverse') %>
      </td>
      <td>
        <%= number_to_currency(booking.invoice.total) %>
      </td>
    </tr>
<% end %>
