- booking_decorator = decorate(booking)
= bootstrap_table headers: ['Status', 'Reference', 'Trip', 'Travel Date', 'Connection', 'Price'], types: [:condensed] do
  %tr
    %td= booking_decorator.status
    %td= booking_decorator.reference_no
    %td= booking_decorator.trip_name
    %td= booking_decorator.trip_start_date
    %td= booking_decorator.connection
    %td= booking_decorator.price