<table class='table table-condensed'>
  <thead>
    <tr>
      <th>Status</th>
      <th>Reference</th>
      <th>Trip</th>
      <th>Travel Date</th>
      <th>Connection</th>
      <th>Price</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <%= status_label_for(booking) %>
      </td>
      <td>
        <%= booking.reference_no %>
      </td>
      <td>
        <%= booking.trip.name %>
      </td>
      <td>
        <%= time_tag(booking.trip.start_date) %>
      </td>
      <td>
        <%= content_tag(:span, booking.stop.name, class: 'label label-info') %>
      </td>
      <td>
        <%= number_to_currency(booking.invoice.total) %>
      </td>
    </tr>
  </tbody>
</table>
