<%= bootstrap_table headers: ['Name', 'Type', 'Cell No', 'Email'], types: [:condensed] do %>
    <% passengers.each do |passenger| %>
        <tr>
          <td>
            <%= passenger.full_name %>
          </td>
          <td>
            <%= passenger.passenger_type.description %>
          </td>
          <td>
            <%= number_to_phone(passenger.cell_no, area_code: true) %>
          </td>
          <td>
            <%= mail_to(passenger.email) if passenger.email.present? %>
          </td>
        </tr>
    <% end %>
<% end %>
