.page-header.text-center
  %h1 SA CONNECTION

.client.pull-left
  %p
    %strong Name:
    = @booking.client_name
  %p
    %strong Tel No:
    = @booking.client.telephone
  %p
    %strong Cell No:
    = @booking.client.cellphone

.details.pull-right
  %p
    %strong Reference No:
    = @booking.reference_no
  %p
    %strong Today's Date:
    = l Time.zone.now, format: :long
%br
%br

.passengers
- bootstrap_table headers:['Date', 'Name' ,'From', 'Terminal', 'To' , 'Terminal', 'Departure Time', 'Arrival Time'], types: [:bordered] do
  - @booking.passengers.each do |passenger|
    %tr
    %td= @booking.trip_start_date
    %td= passenger.full_name
    %td= @booking.from
    %td= @booking.from_venue
    %td= @booking.to
    %td= @booking.to_venue
    %td= @booking.stops.first.depart || Time.current
    %td= @booking.stops.first.arrive || Time.current

%br

.costs.pull-left
  %p
  %strong Amount:
  = number_to_currency @booking.invoice.total, unit: 'R' if @booking.invoice
  %p
  %strong Discount:
  = number_to_currency @booking.invoice.total_discount, unit: 'R' if @booking.invoice
%br
%br
%br
.special-instructions.text-center
  %p
    %em= simple_format(settings.ticket_instructions)
%br
%br
.scripture.text-center
  %p
  %strong Thought for today
  %em= simple_format(ticket_scripture)

%br
%br
.ticket-details.rounded.text-center.pull-left
  %h4 Contact Details
  %h4 Office: 043 722 0284
  %h4 P.O. Box 7485, East London


.ticket-details.rounded.text-center.pull-right
  %h3 Bookings
  %h3 086 110 2426