.details
  %p.pull-left
    %strong Reference No:
    = ticket.reference_no
    %strong Status:
    = status_label_for(ticket)
  %p.pull-right
    %strong Today's Date:
    = ticket.ticket_date
.passengers
= bootstrap_table headers: %w(Date Name From Terminal To Terminal Departure Arrival), types: [:bordered, :condensed] do
  - [ticket.booking, ticket.return_booking].compact.each do |booking|
    - ticket.passengers.each do |passenger|
      %tr
        %td= booking.trip.start_date
        %td= passenger.full_name
        %td= booking.stop.from_city_name
        %td= booking.stop.connection.from_city_venues.first.name
        %td= booking.stop.to_city_name
        %td= booking.stop.connection.to_city_venues.first.name
        %td= l(booking.stop.depart, format: :short)
        %td= l(booking.stop.arrive, format: :short)
        %td
        %td
  %tr
    %td
    %td
    %td
    %td
    %td
    %td
    %td
    %td
      %strong Price:
      %strong= ticket.price
    %td
      %strong Discount:
      %strong= ticket.discount
    %td
      %strong Total:
      %strong= ticket.nett
.special-instructions.text-center
  %p
    %em= ticket.instructions
.scripture.text-center
  %p
  %strong Thought for today
  %em= ticket.scripture
