<%= content_for(:title) do %>
    Ticket <%= @booking.reference_no %>
<% end %>
<div class="actions text-center">
  <%= link_to print_ticket_path(@booking), class: 'btn btn-primary', target: '_blank' do %>
      <%= fa_icon :print, text: 'Print' %>
  <% end %>
  <%= link_to download_ticket_path(@booking), class: 'btn btn-info',  data: { no_turbolink: true } do %>
      <%= fa_icon :download, text: 'Download' %>
  <% end %>
  <%= link_to email_ticket_path(@booking), method: :post, class: 'btn btn-inverse' do %>
      <%= fa_icon :envelope, text: 'Email' %>
  <% end %>
</div>
<div class="details">
  <p class="pull-left">
    <strong>Reference No:</strong>
    <%= @booking.reference_no %>
    <strong>Status:</strong>
    <%= status_label_for(@booking) %>
  </p>
  <p class="pull-right">
    <strong>Today's Date:</strong>
    <%= l(Date.current, format: :long) %>
  </p>
</div>
<div class="passengers">
  <%= bootstrap_table headers: %w(Date Name From Terminal To Terminal Departure Arrival), types: [:bordered, :condensed] do %>
      <% [@booking, @return_booking].compact.each do |booking| %>
          <% booking.passengers.each do |passenger| %>
              <tr>
                <td>
                  <%= l booking.trip.start_date %>
                </td>
                <td>
                  <%= passenger.full_name %>
                </td>
                <td>
                  <%= booking.connection.from_city_name %>
                </td>
                <td>
                  <%= booking.connection.from_city_venues.first.name %>
                </td>
                <td>
                  <%= booking.connection.to_city_name %>
                </td>
                <td>
                  <%= booking.connection.to_city_venues.first.name %>
                </td>
                <td>
                  <%= l(booking.connection.leaving, format: :short) if booking.connection.leaving.present? %>
                </td>
                <td>
                  <%= l(booking.connection.arriving, format: :short) if booking.connection.arriving.present? %>
                </td>
              </tr>
          <% end %>
      <% end %>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>
          <strong>Price:</strong>
          <strong>
            <%= gross_price(@booking, @return_booking) %>
          </strong>
        </td>
        <td>
          <strong>Discount:</strong>
          <strong>
            <%= discount(@booking, @return_booking) %>
          </strong>
        </td>
        <td>
          <strong>Total:</strong>
          <strong>
            <%= nett_price(@booking, @return_booking) %>
          </strong>
        </td>
      </tr>
  <% end %>
</div>
<div class="special-instructions text-center">
  <p>
    <em>
      <%= simple_format(@settings.ticket_instructions) %>
    </em>
  </p>
</div>
<div class="scripture text-center">
  <p></p>
  <strong>Thought for today</strong>
  <em>
    <%= simple_format(scripture_for_today) %>
  </em>
</div>

<br/>
<br/>
<div class="actions text-center">
  <%= link_to print_ticket_path(@booking), class: 'btn btn-primary', target: '_blank' do %>
      <%= fa_icon :print, text: 'Print' %>
  <% end %>
  <%= link_to download_ticket_path(@booking), class: 'btn btn-info',  data: { no_turbolink: true } do %>
      <%= fa_icon :download, text: 'Download' %>
  <% end %>
  <%= link_to email_ticket_path(@booking), method: :post, class: 'btn btn-inverse' do %>
      <%= fa_icon :envelope, text: 'Email' %>
  <% end %>
</div>
