<%= content_for(:title) do %>
    Ticket <%= @booking.reference_no %>
<% end %>
<div class="actions text-center">
  <%= link_to print_ticket_path(@booking), class: 'btn btn-primary', target: '_blank' do %>
      <%= fa_icon :print, text: 'Print' %>
  <% end %>
  <%= link_to download_ticket_path(@booking), class: 'btn btn-info',  data: { no_turbolink: true } do %>
      <%= fa_icon :download, text: 'Download' %>
  <% end %>
  <%= link_to email_ticket_path(@booking), method: :post, class: 'btn btn-inverse' do %>
      <%= fa_icon :envelope, text: 'Email' %>
  <% end %>
</div>
<%= render partial: 'ticket', locals: { ticket: @ticket } %>
<br/>
<br/>
<div class="actions text-center">
  <%= link_to print_ticket_path(@booking), class: 'btn btn-primary', target: '_blank' do %>
      <%= fa_icon :print, text: 'Print' %>
  <% end %>
  <%= link_to download_ticket_path(@booking), class: 'btn btn-info',  data: { no_turbolink: true } do %>
      <%= fa_icon :download, text: 'Download' %>
  <% end %>
  <%= link_to email_ticket_path(@booking), method: :post, class: 'btn btn-inverse' do %>
      <%= fa_icon :envelope, text: 'Email' %>
  <% end %>
</div>
