<div class="details">
  <p class="pull-left">
    <strong>Reference No:</strong>
    <%= @ticket.reference_no %>
    <strong>Status:</strong>
    <%= @ticket.status.upcase %>
  </p>
  <p class="pull-right">
    <strong>Today's Date:</strong>
    <%= time_tag(Date.current, format: :long) %>
  </p>
</div>
<div class="passengers">
  <table class='table table-bordered table-condensed'>
    <thead>
     <tr>
      <th>Date</th>
      <th>Name</th>
      <th>From</th>
      <th>Terminal</th>
      <th>To</th>
      <th>Terminal</th>
      <th>Departure</th>
      <th>Arrival</th>
     </tr>
    </thead>
    <tbody>
       <% [@ticket.booking, @ticket.return_booking].compact.each do |booking| %>
          <% @ticket.passengers.each do |passenger| %>
              <tr>
                <td>
                  <%= booking.trip.start_date %>
                </td>
                <td>
                  <%= passenger.full_name %>
                </td>
                <td>
                  <%= booking.stop.from_city_name %>
                </td>
                <td>
                  <%= booking.stop.from_city_venues.first.name %>
                </td>
                <td>
                  <%= booking.stop.to_city_name %>
                </td>
                <td>
                  <%= booking.stop.to_city_venues.first.name %>
                </td>
                <td>
                  <%= time_tag(booking.stop.leaving, format: :short) if booking.stop.leaving.present? %>
                </td>
                <td>
                  <%= time_tag(booking.stop.arriving, format: :short) if booking.stop.arriving.present? %>
                </td>
              </tr>
          <% end %>
      <% end %>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>
          <strong>Price:</strong>
          <strong>
            <%= @ticket.price %>
          </strong>
        </td>
        <td>
          <strong>Discount:</strong>
          <strong>
            <%= @ticket.discount %>
          </strong>
        </td>
        <td>
          <strong>Total:</strong>
          <strong>
            <%= @ticket.nett %>
          </strong>
        </td>
      </tr>
    </tbody>
  </table>

      
     

</div>
<div class="special-instructions text-center">
  <p>
    <em>
      <%= @ticket.instructions %>
    </em>
  </p>
</div>
<div class="scripture text-center">
  <p></p>
  <strong>Thought for today</strong>
  <em>
    <%= @ticket.scripture %>
  </em>
</div>

