= content_for(:title) do
  Contact and Support

%h2 Contact and Support
%br
%h5 Email us at:
%a{ href: 'mailto:Support@SearleConsulting.co.za' } Support@SearleConsulting.co.za

%h5 Let us get back to you:
.row.span12
  = simple_form_for @contact, defaults: { required: false } do |f|
    = f.input :name
    = f.input :email
    = f.input :message, as: :text, label: false, input_html: { class: 'input-xxlarge', rows: '10' }
    = f.button :submit, 'Send message', class: t('buttons.primary')



