%p
  %strong= settings.trip_sheet_note1
%p
  %strong= settings.trip_sheet_note2
%p
  %strong= settings.trip_sheet_note3


%p
  %strong= @trip.notes

- bootstrap_table headers: %w(Drivers From Time O/Reading To Time), types: [:bordered] do
  - 5.times do
    %tr
      %td
      %td
      %td
      %td
      %td
      %td

- bootstrap_table headers: [], types: [:bordered, :condensed] do
  %tr
    %td cash
    %td
  %tr
    %td cash send
    %td
  %tr
    %td cash send
    %td
  %tr
    %td POB
    %td
  %tr
    %td difference
    %td

- bootstrap_table headers: ['Trip remarks'], types: [:bordered, :condensed] do
  %tr
    %td Diesel
  %tr
    %td PE
    %td
    %td Diesel
  %tr
    %td Toll
    %td
    %td
    %td Mos
    %td
  %tr
    %td Mos
    %td
    %td
    %td Toll
    %td
  %tr
    %td Cpt
    %td
    %td
    %td PE
    %td

- bootstrap_table headers: ['Items on checklist to report pm'], types: [:bordered, :condensed] do
  %tr
    %td
    %td
    %td
    %td
    %td
    %td
%p
  %strong= settings.trip_sheet_note4
%p.pull-right
  PTO
