<div class="page-header text-center">
  <h5 class="pull-left">
    <strong>SA Connection</strong>
  </h5>
  <h5 class="pull-right">
    <strong>
      <%= @trip_sheet_presenter.current_date %>
    </strong>
  </h5>
  <h2>TRIP SHEET FOR <%= @trip_sheet_presenter.trip_name %></h2>
</div>
<p class="pull-left">
  <strong>Drivers:</strong>
  <br/>
<ul class="unstyled">
  <% @trip_sheet_presenter.drivers_names do |name| %>
      <li>
        <%= name %>
      </li>
  <% end %>
</ul>
</p>
<p class="pull-right">
  <strong>Bus:</strong>
  <%= @trip_sheet_presenter.bus_name %>
</p>
<br/>
<hr/>
<p class="pull-left">Bookings: 0861102426</p>
<p class="pull-right">Bookings: 0861102426</p>
<h4 class="text-center">
  Bookings and Reservations
</h4>
<hr/>
<%= bootstrap_table headers: ['Clients', 'Connection', 'Quantity Seats', 'Telephone nos'], types: [:bordered] do %>
    <% @trip_sheet_presenter.bookings.each do |booking| %>
        <% booking.passengers.each do |passenger| %>
            <tr>
              <td>
                <%= passenger.full_name %>
              </td>
              <td>
                <%= booking.stop.name  %>
              </td>
              <td>1</td>
              <td>
                <%= passenger.cell_no %>
              </td>
            </tr>
        <% end %>
    <% end %>
<% end %>
<br/>
<br/>
<div id="brake"></div>
<%= render partial: 'additional_info', locals: { trip_sheet_presenter: @trip_sheet_presenter } %>
<div id="brake"></div>
<%= render partial: 'occupational_info', locals: { trip_sheet_presenter: @trip_sheet_presenter } %>
