.page-header.text-center
  %h5.pull-left
    %strong SA Connection
  %h5.pull-right
    %strong
      = @trip_sheet_presenter.current_date
  %h2 TRIP SHEET FOR #{@trip_sheet_presenter.trip_name}
%p.pull-left
  %strong Drivers:
  %br
  %ul.unstyled
    - @trip_sheet_presenter.drivers_names do |name|
      %li= name
%p.pull-right
  %strong Bus:
  = @trip_sheet_presenter.bus_name
%br

%hr
%p.pull-left Bookings: 0861102426
%p.pull-right Bookings: 0861102426
%h4.text-center
  Bookings and Reservations
%hr
= bootstrap_table headers: ['Clients', 'From', 'To', 'Quantity Seats', 'Telephone nos'], types: [:bordered] do
  - @trip_sheet_presenter.bookings.each do |booking|
    - booking.passengers.each do |passenger|
      %tr
        %td= passenger.full_name
        %td= booking.stop.from_city_name
        %td= booking.stop.to_city_name
        %td 1
        %td= passenger.cell_no

%br
%br
#brake
= render partial: 'additional_info', locals: { trip_sheet_presenter: @trip_sheet_presenter }
#brake
= render partial: 'occupational_info', locals: { trip_sheet_presenter: @trip_sheet_presenter }