- content_for :sidebar do
  %h4 Search for trips
  = simple_form_for :q, url: trip_sheets_path, method: :get  do |f|
    = f.input :start_date_eq, as: :date_picker, placeholder: 'Select a date', label: 'Date of trip'
    = f.input :route_id_in, collection: Route.all, as: :check_boxes, include_blank: false, inline_label: true, label_method: :name, label: 'Route'

    = f.submit 'Search', class: t('buttons.inverse')

%h4 Quick Tripsheet
.results
  .well
    - if @trips.any?
      - @trips.each do |trip|
        - TripDecorator.decorate(trip, self) do  |decorated_trip|
          .result
            %dl.dl-horizontal
              %dt Name:
              %dd= decorated_trip.name
              %dt Route:
              %dd= decorated_trip.route_name
              %dt Date:
              %dd= decorated_trip.start_date
              %dt Day:
              %dd= decorated_trip.trip_day
              %dt Bookings:
              %dd= decorated_trip.bookings_count
              %dd= decorated_trip.generate_tripsheet_link(icon: :road, class: t('buttons.mini.info'))
    - else
      %p.lead.text-center There are currently no trips
