<%= content_for(:title) do %>
Quick Trip Sheet
<% end %>
<div class="page-header">
  <h3>Tripsheets</h3>
  <div>
    <%= link_to trip_sheets_path, class: 'btn btn-default' do %>
      <%= fa_icon :refresh, text: 'Refresh' %>
    <% end %>
  </div>
  <div class='input-group pull-right col-xs-3'>
    <span class="input-group-addon"><%= fa_icon 'calendar' %></span>
    <input type="text" class="form-control input-sm datepicker" placeholder="Search by date" data-behaviour="search-trip-by-date">
  </div>
</div>
<div id='trips-calendar' data-source="<%= trip_sheets_path(format: :json) %>"></div>
