<%= content_for :title do %>
Trip sheet <%=@trip.name%>_<%=@trip.start_date%>
<% end %>
<div class="actions text-center">
  <%= link_to_unless(@trip.archived, 'Add/Edit Notes', edit_trip_sheet_path(@trip), class: t('buttons.warning')) {} %>
  <%= link_to 'Print', print_trip_sheet_path(@trip), class: t('buttons.primary'), target: '_blank' %>
  <%= link_to 'Download', download_trip_sheet_path(@trip), class: t('buttons.info'), data: { no_turbolink: true } %>
</div>
<%= render 'trip_sheets/trip_sheet', trip: @trip %>
<div class="actions text-center">
  <%= link_to_unless(@trip.archived, 'Add/Edit Notes', edit_trip_sheet_path(@trip), class: t('buttons.warning')) {} %>
  <%= link_to 'Print', print_trip_sheet_path(@trip), class: t('buttons.primary'), target: '_blank' %>
  <%= link_to 'Download', download_trip_sheet_path(@trip), class: t('buttons.info'), data: { no_turbolink: true } %>
</div>
