<div class="page-header text-center">
  <h5 class="pull-left">
    <strong>SA Connection</strong>
  </h5>
  <h5 class="pull-right">
    <strong>
      <%= l(Date.current, format: :long) %>
    </strong>
  </h5>
  <h2>TRIP SHEET FOR <%= @trip.name.titleize %></h2>
</div>
<p class="pull-left">
  <strong>Drivers:</strong>
  <br/>
<ul class="unstyled">
  <% @trip.drivers do |driver| %>
      <li>
        <%= driver.full_name %>
      </li>
  <% end %>
</ul>
</p>
<p class="pull-right">
  <strong>Bus:</strong>
  <%= @trip.bus_name %>
</p>
<br/>
<hr/>
<p class="pull-left">Bookings: 0861102426</p>
<p class="pull-right">Bookings: 0861102426</p>
<h4 class="text-center">
  Bookings and Reservations
</h4>
<hr/>
<table class="table table-bordered">
  <thead>
  <tr>
    <th>Clients</th>
    <th>Connection</th>
    <th>Quantity Seats</th>
    <th>Telephone Nos</th>
  </tr>
  </thead>
  <tbody>
  <% @trip.bookings.each do |booking| %>
      <% booking.passengers.each do |passenger| %>
          <tr>
            <td>
              <%= passenger.full_name %>
            </td>
            <td>
              <%= booking.connection.name  %>
            </td>
            <td>1</td>
            <td>
              <%= passenger.cell_no %>
            </td>
          </tr>
      <% end %>
  <% end %>
  </tbody>
</table>
<br/>
<br/>
<div class="alwaysbreak">
  <div class="tripsheet-notes">
    <p>
      <strong>
        <%= @trip.notes %>
      </strong>
    </p>
    <p>
      <strong>
        <%= @settings.trip_sheet_note1 %>
      </strong>
    </p>
    <p>
      <strong>
        <%= @settings.trip_sheet_note2 %>
      </strong>
    </p>
    <p>
      <strong>
        <%= @settings.trip_sheet_note3 %>
      </strong>
    </p>
  </div>
  <table class="table table-bordered">
    <thead>
    <tr>
      <th>Drivers</th>
      <th>From</th>
      <th>Time</th>
      <th>O/Reading</th>
      <th>To</th>
      <th>Time</th>
    </tr>
    </thead>
    <tbody>
    <% 5.times do %>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
    <% end %>
    </tbody>
  </table>
  <table class="table table-bordered table-condensed">
    <tbody>
    <tr>
      <td>cash</td>
      <td></td>
    </tr>
    <tr>
      <td>cash send</td>
      <td></td>
    </tr>
    <tr>
      <td>cash send</td>
      <td></td>
    </tr>
    <tr>
      <td>POB</td>
      <td></td>
    </tr>
    <tr>
      <td>difference</td>
      <td></td>
    </tr>
    </tbody>
  </table>
  <table class="table table-bordered table-condensed">
    <thead>
       <tr>
         <th>Trip remarks</th>
       </tr>
    </thead>
    <tbody>
    <tr>
      <td>Diesel</td>
    </tr>
    <tr>
      <td>PE</td>
      <td></td>
      <td>Diesel</td>
    </tr>
    <tr>
      <td>Toll</td>
      <td></td>
      <td></td>
      <td>Mos</td>
      <td></td>
    </tr>
    <tr>
      <td>Mos</td>
      <td></td>
      <td></td>
      <td>Toll</td>
      <td></td>
    </tr>
    <tr>
      <td>Cpt</td>
      <td></td>
      <td></td>
      <td>PE</td>
      <td></td>
    </tr>
    </tbody>
  </table>
  <table class="table table-bordered">
    <thead>
     <tr>
       <th>Items on checklist to report pm</th>
     </tr>
    </thead>
    <tbody>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    </tbody>
  </table>
  <p>
    <strong>
      <%= @settings.trip_sheet_note4 %>
    </strong>
  </p>
  <p class="pull-right">
    PTO
  </p>
</div>
<div class="alwaysbreak">
  <h5>Occupational Info</h5>
  <%= display_occupancy(@trip) %>
</div>
