<div class="well well-small booking">
  <div class="pull-left">
    <%= l(Date.current, format: :long) %>
  </div>
  <% @bookings.group_by {|b| b.client }.sort.each do |client, bookings| %>
      <p class="text-center"><%= client.title.upcase %> <%= client.full_name %></p>
      <% bookings.each do |booking| %>
          <div class="info">
            <p>
              <%= content_tag :strong, booking.payment_detail.payment_type if booking.payment_detail.present? %>
            </p>
            <%= bootstrap_table headers: ['Status', 'Reference', 'Location', 'Travel Date', 'Price'], types: [:condensed] do %>
                <tr>
                  <td>
                    <%= status_label_for(booking) %>
                  </td>
                  <td>
                    <%= booking.reference_no %>
                  </td>
                  <td><%= badge_for(booking.quantity) %> x <%= content_tag(:span, booking.stop.name, class: 'label label-inverse') %></td>
                  <td data-dateformat="ll">
                    <%= local_date(booking.trip.start_date) %>
                  </td>
                  <td>
                    <%= number_to_currency(booking.invoice.total) %>
                  </td>
                </tr>
            <% end %>
          </div>
      <% end %>
  <% end %>
</div>
