.well.well-small.booking
  .pull-left
    = l(Date.current, format: :long)
  - @bookings.group_by {|b| b.client }.sort.each do |client, bookings|
    - client_decorator = decorate(client)
    %p.text-center #{client_decorator.title} #{client_decorator.full_name}
    - bookings.each do |booking|
      - booking_decorator = decorate(booking)
      .info
        %p= content_tag :strong, booking.payment_detail.payment_type if booking.payment_detail.present?
        = bootstrap_table headers: ['Status', 'Reference', 'Location', 'Travel Date', 'Price'], types: [:condensed] do
          %tr
            %td= booking_decorator.status
            %td= booking_decorator.reference_no
            %td #{booking_decorator.quantity} x #{booking_decorator.connection}
            %td{ data: { dateformat: 'll' } }= booking_decorator.trip_start_date
            %td= booking_decorator.price