.page-header
  %h2 Payment Types

- bootstrap_table headers:['Description', 'Actions'], types: [:bordered, :striped, :condensed], html_options: {class: 'sortable'} do
  - @payment_types.each do |p|
    %tr[p]
      %td= p.description
      %td= link_to 'Destroy', p, icon: :times, data: { confirm: t('messages.confirm', resource: :payment_type)}, method: :delete, class: t('buttons.mini.danger')





%h6 New Payment Type
= simple_form_for :payment_type, url: payment_types_path, method: :post do |f|
  = f.input :description, label: false, placeholder: 'Enter Description'
  = f.submit 'Save', class: t('buttons.primary')
