<tr class="<%= dom_class(discount) %>" id="<%= dom_id(discount) %>">
  <td>
    <%= link_to edit_discount_path(discount), class: 'btn btn-xs btn-warning' do  %>
      <%= fa_icon :edit, text: 'Edit' %>
    <% end %>
    <%= link_to discount, method: :delete,  class: 'btn btn-xs btn-danger', data: { confirm: t('messages.confirm', resource: :discount) } do  %>
        <%= fa_icon :times, text: 'Destroy' %>
    <% end %>
  </td>
  <td>
    <%= discount.passenger_type.description.capitalize %>
  </td>
  <td>
    <%= number_to_percentage(discount.percentage, precision: 0) %>
  </td>
</tr>
