= content_for(:title) do
  Edit #{@discount.passenger_type.description}
.page-header
  %h2 Edit Discount
#errors= errors_for @discount
= simple_form_for @discount, defaults: { error: false }, html: { class: 'form-horizontal' } do |f|
  %fieldset
    = f.input :passenger_type, disabled: true, input_html: { value: f.object.passenger_type.description }
    = f.input :percentage, autofocus: true
  .control-group
    .controls
      = f.submit class: t('buttons.primary')
      = link_to 'Cancel', discounts_path, class: t('buttons.default')


