.page-header
  %h2 Edit Discount

#errors= errors_for @discount
= simple_form_for @discount,  defaults: {error: false} ,html: {class: 'form-horizontal'} do |f|
  %fieldset
    = f.association :passenger_type, label_method: :description, include_blank: false, input_html: {rel: 'autocomplete'}
    = f.input :percentage
  .form-actions
    = f.submit class: t('buttons.primary')
    = link_to 'Cancel', discounts_path, class: t('buttons.default')


