<%= content_for(:title) do %>
    Discounts
<% end %>
<div class="page-header">
  <h2>Discounts</h2>
  <%= link_to new_discount_path,  class: 'btn btn-primary' do %>
      <%= fa_icon :plus, text: 'Setup discount' %>
  <% end %>
  <%= link_to discounts_path, class: 'btn btn-default' do %>
      <%= fa_icon :refresh, text: 'Refresh' %>
  <% end %>
</div>
<%= bootstrap_table headers: %w(Actions Passenger Percentage), types: %i(hover condensed), html_options: { class: 'sortable' } do %>
    <%= render @discounts, cache: true %>
<% end %>
