<tr>
  <td>
    <%= link_to edit_route_destinations_path(route), class: 'btn btn-mini btn-primary', data: { toggle: 'tooltip', title: 'Click here to add a new destination (eg East London) to the route.' }, rel: 'tooltip' do %>
       <%= fa_icon :plus, text: 'Add destination' %>
    <% end %>
    <%= link_to copy_route_path(route), method: :post, class: 'btn btn-mini btn-warning', data: { toggle: 'tooltip', title: 'Click here to create a copy of this route.' }, rel: 'tooltip' do %>
        <%= fa_icon :copy, text: 'Copy' %>
    <% end %>
    <%= link_to reverse_copy_route_path(route), method: :post, class: 'btn btn-mini btn-warning', data: { toggle: 'tooltip', title: 'Click here to create a copy of this route in reverse(eg EL to PE will be copied as PE to EL).' }, rel: 'tooltip' do %>
        <%= fa_icon :copy, text: 'Reverse Copy' %>
    <% end %>
    <%= link_to route, class: 'btn btn-info btn-mini' do %>
        <%= fa_icon :info, text: 'Show' %>
    <% end %>
    <%= link_to edit_route_path(route), class: 'btn btn-inverse btn-mini' do %>
        <%= fa_icon :edit, text: 'Edit' %>
    <% end %>
    <%= link_to route, method: :delete, class: 'btn btn-danger btn-mini', data: { confirm: t('messages.confirm', resource: :route) } do %>
        <%= fa_icon :times, text: 'Destroy' %>
    <% end %>
  </td>
  <td>
    <%= link_to route.name.upcase, route %>
  </td>
  <td>
    <%= route.destinations.first.city_name %>
  </td>
  <td>
    <%= route.destinations.last.city_name %>
  </td>
  <td>
    <%=  number_to_currency(route.cost) %>
  </td>
  <td>
    <%= number_to_human(route.distance, units: :distance) %>
  </td>
  <td>
    <%= route.connections.size %>
  </td>
</tr>
