%tr[route]
  %td= route.start_city.name if route.start_city
  %td= route.end_city.name if route.end_city
  %td= number_to_currency(route.cost, unit: 'R')
  %td= "#{route.distance} km"
  %td= route.connections.size
  %td= link_to 'View', route, icon: 'icon-asterisk'
  %td= link_to 'Edit', route_builder_path(:details, route_id: route), icon: 'icon-edit'
  %td= link_to 'Delete', route, icon: 'icon-remove', data: { confirm: 'Are you sure you want to delete this route?'}, method: :delete
