%tr[route]
  %td= link_to route, route
  %td= route.start_city_name.presence
  %td= route.end_city_name.presence
  %td= number_to_currency(route.cost, unit: 'R')
  %td= "#{route.distance} km"
  %td= route.connections.size
  %td
    = link_to 'Show', route, icon: 'icon-info', class: 'btn btn-info btn-mini'
    = link_to 'Edit', route_builder_path(:details, route_id: route), icon: 'icon-edit',  class: 'btn btn-inverse btn-mini'
    = link_to 'Destroy', route, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-mini btn-danger', icon: 'icon-remove'

