<%= content_for(:title) do %>
  Edit <%= @route.name %>
<% end %>
<div class="page-header">
  <h2>Edit Route</h2>
  <h4>Notes:</h4>
  <ol>
    <li>
      <p>
        <strong>Percentage:</strong>
        <em>When changing the percentage, the cost will be recalculated and updated (eg. 50% will make the cost half of the <strong>'Master Rate'</strong>)</em>
      </p>
    </li>
    <li>
      <p>
        <strong>Cost:</strong>
        <em>When changing the cost, the percentage will be recalculated and updated (eg. half of the  <strong>'Master Rate'</strong> will make the percentage 50%)</em>
      </p>
    </li>
  </ol>
</div>
<%= simple_form_for @route do |f| %>
  <%= render 'shared/error_messages', object: @route %>
  <div class="form-group">
    <%= f.button :submit, class: 'btn btn-success' %>
    <%= back_to routes_path %>
  </div>
  <hr/>
  <fieldset>
    <%= f.input :name, autofocus: true, label: 'Name:' %>
    <%= f.input :cost, label: 'Master Rate:' %>
    <%= f.input :distance, label: 'Distance:' %>
  </fieldset>
  <hr/>
  <fieldset>
    <table id='connections' class='table table-hover table-condensed sortable'>
      <thead>
        <tr>
          <th>Name</th>
          <th>Percentage</th>
          <th>Cost</th>
          <th>Distance</th>
          <th>Leaving</th>
          <th>Arriving</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <%= f.simple_fields_for :connections, wrapper: false do |connection| %>
          <tr>
            <td>
              <%= connection.object.name %>
            </td>
            <td>
              <%= connection.input :percentage, label: false, class: 'input-sm' %>
            </td>
            <td>
              <%= connection.input :cost, label: false, class: 'input-sm' %>
            </td>
            <td>
              <%= connection.input :distance,  label: false, class: 'input-sm' %>
            </td>
            <td>
              <%= connection.input :leaving, label: false, class: 'input-sm' %>
            </td>
            <td>
              <%= connection.input :arriving, label: false, class: 'input-sm' %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </fieldset>
  <div class="form-group">
    <%= f.button :submit, class: 'btn btn-success' %>
    <%= back_to routes_path %>
  </div>
<% end %>
