= content_for(:title) do
  Edit #{@route.name}
.page-header
  %h2 Edit Route
  %h4 Notes:
  %ol
    %li
      %p
        %strong Percentage:
        %em When changing the percentage, the cost will be recalculated and updated (eg. 50% will make the cost half of the #{content_tag(:strong, 'Master Rate')})
    %li
      %p
        %strong Cost:
        %em When changing the cost, the percentage will be recalculated and updated (eg. half of the #{content_tag(:strong, 'Master Rate')} will make the percentage 50%)


#errors= errors_for @route

= simple_form_for @route, defaults: { error: false }, html: { class: 'form-inline' } do |f|
  .control-group
    .controls
      = f.submit class: t('buttons.primary')
      = link_to 'Back', routes_path, class: t('buttons.info')
  %hr
  %fieldset
    = f.input :name, autofocus: true, label: 'Name:'
    = f.input :cost, as: :cost, label: 'Master Rate:'
    = f.input :distance, as: :distance, label: 'Distance:'
  %hr
  %fieldset
    = bootstrap_table headers: ['Name', 'Percentage', 'Cost', 'Distance', ''], types: [:condensed], html_options: { id: 'connections', class: 'sortable' } do
      = f.simple_fields_for :connections, wrapper: false do |connection|
        %tr
          %td= connection.object.name
          %td= connection.input_field :percentage, as: :percentage, class: 'input-small'
          %td= connection.input_field :cost, as: :cost, class: 'input-small'
          %td= connection.input_field :distance, as: :distance, class: 'input-small'

  .control-group
    .controls
      = f.submit class: t('buttons.primary')
      = link_to 'Back', routes_path, class: t('buttons.info')


