.page-header
  %h2 Routes

.search.pull-right
  = simple_form_for :q, url: routes_path, defaults: { required: false, label: false }, html: {class: 'form-inline',method: :get} do |f|
    = f.input :name_cont, placeholder: 'Search', input_html: {class: 'search-query'}
    = f.submit 'Search', class: t('buttons.mini.warning')
    = link_to 'Clear', routes_path, class: t('buttons.mini.inverse'), icon: :times

- bootstrap_table headers:['Description','Start City', 'End City','Cost', 'Distance','Connections', 'Actions'], types: [:bordered, :striped, :condensed], html_options: {class: 'sortable'} do
  = render routes

= link_to 'Setup Route', route_builder_index_path(route_id: :building), method: :post, icon: :plus, class: t('buttons.primary')
= link_to 'Refresh', routes_path, class: t('buttons.default'), icon: :refresh

