= content_for(:title) do
  Routes
.page-header
  %h2 Routes
  = link_to 'Setup Route', new_route_path, icon: :plus, class: t('buttons.primary')
  = link_to 'Refresh', routes_path, class: t('buttons.default'), icon: :refresh

- cache @routes do
  = bootstrap_table headers: ['Actions', 'Description', 'Start City', 'End City', 'Master Rate', 'Distance', 'Connections'], types: %i(hover condensed), html_options: { class: 'sortable' } do
    = render @routes, cache: true


