<%= content_for(:title) do %>
  New Route
<% end %>
<div class="page-header">
  <h2>New Route</h2>
  <h5>Instructions</h5>
  <ol>
    <li>
      Add all the destinations(cities) that the bus will travel through on the route.
    </li>
    <li>
      Set the destination(city) order in the order the buses will travel along the route. For example on a route from East London to PE, East London will be 1 and Port Alfred will be 2 and so on.
    </li>
  </ol>
  <p>
    <b>NB:</b>
    <em>
      Please note the connections on the next step in the wizard are generated from these destinations and the order they are in, so make 100% sure you are happy before moving onto the connections.
    </em>
  </p>
</div>
<%= simple_form_for @route do |f| %>
  <%= render 'shared/error_messages', object: @route %>
  <div class="form-group">
    <%= f.button :submit, class: 'btn btn-success'  %>
    <%= link_to 'Cancel', routes_path, class: 'btn btn-default' %>
  </div>
  <hr/>
  <div class="row">
    <div class="col-md-5">
      <fieldset>
        <legend>Details</legend>
        <%= f.input :name, autofocus: true %>
        <%= f.input :cost, label: 'Master Rate' %>
        <%= f.input :distance %>
      </fieldset>
    </div>
    <div class="col-md-6">
      <fieldset>
        <legend>Destinations</legend>
        <table class='route-destinations table table-hover table-condensed sortable'>
          <thead>
            <tr>
              <th>City</th>
              <th>Order</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <%= f.simple_fields_for :destinations, wrapper: false do |destination| %>
              <%= render 'destination_fields', f: destination %>
            <% end %>
          </tbody>
        </table>
        <div class="links">
          <%= link_to_add_association  f, :destinations, data: { association_insertion_node: '.route-destinations > tbody', association_insertion_method: 'append' },  class: 'btn btn-warning' do %>
            <%= fa_icon :plus, text: 'Add destination' %>
          <% end %>
        </div>
      </fieldset>
    </div>
  </div>
  <hr/>
  <div class="form-group">
    <%= f.button :submit, class: 'btn btn-success'  %>
    <%= link_to 'Cancel', routes_path, class: 'btn btn-default' %>
  </div>
<% end %>
