- cache @route do
  .page-header
    %h2 Route
  .well
    %p
      %strong Start City:
      %br
      = @route.start_city_name
    %p
      %strong End City:
      %br
      = @route.end_city_name
    %p
      %strong Cost:
      %br
      = @route.cost
    %p
      %strong Distance:
      %br
      = @route.distance
  .well
    - cache @route.connections do
      %p
        %strong Connections:
        - bootstrap_table headers:['','From', 'To','Distance', 'Percentage', 'Cost'], types: [:bordered, :condensed], html_options: {id: 'connections'} do
          = render @route.connections


  .form-actions
    = back_to routes_path
    = @route.edit_link
    = @route.destroy_link




