= content_for(:title) do
  #{@route.name}

- cache @route do
  .page-header
    %h2= @route.name.upcase
    .actions
      = back_to routes_path
      = link_to 'Edit', edit_route_path(@route), icon: :edit,  class: t('buttons.inverse')
      = link_to_unless(@route.connections.any?, 'Destroy', @route, method: :delete, icon: :times, class: t('buttons.danger'), data: { confirm: 'Are you sure you want to destroy this route?' }) {}
  .well
    %h4 Details
    %ul.inline
      %li
        %p
          %strong From:
          = @route.start_city
      %li
        %p
          %strong To:
          = @route.end_city
      %li
        %p
          %strong Master Rate:
          = number_to_currency(@route.cost)
      %li
        %p
          %strong Distance:
          = number_to_human(@route.distance, units: :distance)
    %h4 Connections
    = bootstrap_table headers: ['From', 'To', 'Distance', 'Percentage', 'Cost', 'Depart Time', 'Arrive Time'], types: [:hover, :condensed], html_options: { id: 'connections', class: 'sortable' } do
      = render partial: 'connections/connection', collection: @route.connections, cache: true
  .actions
    = back_to routes_path
    = link_to 'Edit', edit_route_path(@route), icon: :edit,  class: t('buttons.inverse')
    = link_to_unless(@route.connections.any?, 'Destroy', @route, method: :delete, icon: :times, class: t('buttons.danger'), data: { confirm: 'Are you sure you want to destroy this route?' }) {}


