<%= content_for(:title) do %>
    <%= @route.name.upcase %>
<% end %>
<% cache @route do %>
    <div class="page-header">
      <h2>
        <%= @route.name.upcase %>
      </h2>
      <div class="actions">
        <%= back_to routes_path %>
        <%= link_to edit_route_path(@route), class: 'btn btn-inverse' do %>
            <%= fa_icon :edit, text: 'Edit' %>
        <% end %>
        <%= link_to @route, method: :delete, class: 'btn btn-danger', data: { confirm: t('messages.confirm', resource: :route) } do %>
            <%= fa_icon :times, text: 'Destroy' %>
        <% end %>
      </div>
    </div>
    <div class="well">
      <h4>Details</h4>
      <ul class="inline">
        <li>
          <p>
            <strong>From:</strong>
            <%= @route.destinations.first.name %>
          </p>
        </li>
        <li>
          <p>
            <strong>To:</strong>
            <%= @route.destinations.last.name%>
          </p>
        </li>
        <li>
          <p>
            <strong>Master Rate:</strong>
            <%= number_to_currency(@route.cost) %>
          </p>
        </li>
        <li>
          <p>
            <strong>Distance:</strong>
            <%= number_to_human(@route.distance, units: :distance) %>
          </p>
        </li>
      </ul>
      <h4>Connections</h4>
      <%= bootstrap_table headers: ['Name', 'Distance', 'Percentage', 'Cost'], types: [:hover, :condensed], html_options: { id: 'connections', class: 'sortable' } do %>
          <%= render partial: 'connections/connection', collection: @route.connections, cache: true %>
      <% end %>
    </div>
    <div class="actions">
      <%= back_to routes_path %>
      <%= link_to edit_route_path(@route), class: 'btn btn-inverse' do %>
          <%= fa_icon :edit, text: 'Edit' %>
      <% end %>
      <%= link_to @route, method: :delete, class: 'btn btn-danger', data: { confirm: t('messages.confirm', resource: :route) } do %>
          <%= fa_icon :times, text: 'Destroy' %>
      <% end %>
    </div>
<% end %>
