- route_decorator = decorate(@route)
= content_for(:title) do
  #{route_decorator.name}

- cache @route do
  .page-header
    %h2= route_decorator.name
    .actions
      = back_to routes_path
      = route_decorator.edit_link class: t('buttons.inverse')
      = route_decorator.destroy_link class: t('buttons.danger'), data: { confirm: 'Are you sure you want to destroy this route?' }
  .well
    %h4 Details
    %ul.inline
      %li
        %p
          %strong From:
          = route_decorator.start_city
      %li
        %p
          %strong To:
          = route_decorator.end_city
      %li
        %p
          %strong Master Rate:
          = route_decorator.cost
      %li
        %p
          %strong Distance:
          = route_decorator.distance
    %h4 Connections
    - cache @route.connections do
      = bootstrap_table headers: ['Name', 'Distance', 'Percentage', 'Cost'], types: [:hover, :condensed], html_options: { id: 'connections', class: 'sortable' } do
        = render partial: 'connections/connection', collection: @route.connections, cache: true
  .actions
    = back_to routes_path
    = route_decorator.edit_link class: t('buttons.inverse')
    = route_decorator.destroy_link class: t('buttons.danger'), data: { confirm: 'Are you sure you want to destroy this route?' }


