.page-header
  %h3= "Route (#{@route.start_city_name} to #{@route.end_city_name})"
  = link_to 'Back',:back
.well.well-small
  %h5 Details:
  %dl.dl-horizontal
    %dt Start City:
    %dd= @route.start_city.name
    %dt End City:
    %dd= @route.end_city.name
    %dt Cost:
    %dd= number_to_currency(@route.cost, unit: 'R')
    %dt Distance:
    %dd= "#{@route.distance} km"

.well
  %h5 Connections:
  - bootstrap_table headers:['','From', 'To','Distance', 'Percentage', 'Cost', ''], types: [:bordered, :condensed], html_options: {id: 'connections'} do
    = render @route.connections

