%tr[driver]
  %td= driver.name
  %td= driver.surname
  %td
    = link_to 'Show', driver, icon: :info, class: t('buttons.mini.info')
    = link_to 'Edit', edit_driver_path(driver), icon: :edit, class: t('buttons.mini.inverse')
    = link_to 'Destroy', driver, icon: :times, data: { confirm: 'Are you sure you want to destroy this driver?'}, method: :delete, class: t('buttons.mini.danger')



