#errors= errors_for driver
= simple_form_for driver, defaults: { error: false }, html: { class: 'form-horizontal' } do |f|
  %fieldset
    = f.input :name, autofocus: true
    = f.input :surname
  .control-group
    .controls
      = f.submit class: t('buttons.primary')
      = link_to 'Cancel', drivers_path, class: t('buttons.default')

