<%= simple_form_for @driver do |f| %>
  <fieldset>
    <%= f.input :name, autofocus: true, placeholder: 'Name' %>
    <%= f.input :surname, placeholder: 'Surname' %>
  </fieldset>
  <div class="form-group">
    <%= f.button :submit, class: 'btn btn-success' %>
    <%= link_to 'Cancel', drivers_path, class: 'btn btn-default' %>
  </div>
<% end %>
