.page-header
  %h2 Drivers
.search.pull-right
  = simple_form_for :q, url: drivers_path, defaults: { required: false, label: false }, html: {class: 'form-inline',method: :get} do |f|
    = f.input :name_or_surname_cont, placeholder: 'Search', input_html: {class: 'search-query'}
    = f.submit 'Search', class: t('buttons.mini.warning')
    = link_to 'Clear', drivers_path, class: t('buttons.mini.inverse'), icon: :times


= link_to 'Setup Driver', new_driver_path, class: t('buttons.primary'),icon: :plus
= link_to 'Refresh', drivers_path, class: t('buttons.default'), icon: :refresh

- bootstrap_table headers:['Name', 'Surname', 'Actions'], types: [:bordered, :striped, :condensed], html_options: {class: 'sortable'} do
  = render @drivers, cache: true

= link_to 'Setup Driver', new_driver_path, class: t('buttons.primary'),icon: :plus
= link_to 'Refresh', drivers_path, class: t('buttons.default'), icon: :refresh


