#errors= errors_for city
= simple_form_for city, defaults: { error: false }, html: { class: 'form-horizontal' } do |f|
  %fieldset
    %legend City
    = f.input :name, required: false
  #venues
    = f.simple_fields_for :venues do |venue|
      = render 'venue_fields', f: venue
    .links
      %hr
      = link_to_add_association 'Add Venue', f, :venues, class: t('buttons.mini.info')
      %hr
  .form-actions
    = f.submit class: t('buttons.primary')
    = link_to 'Cancel', cities_path, class: t('buttons.default')