#errors= errors_for @city
= simple_form_for city, defaults: { error: false }, html: { class: 'form-horizontal' } do |f|
  %fieldset
    %legend City
    = f.input :name, required: false, autofocus: true

  #time_tables
    = f.simple_fields_for :time_tables do |time_table|
      = render 'time_table_fields', f: time_table
  #venues
    = f.simple_fields_for :venues do |venue|
      = render 'venue_fields', f: venue
    .links
      %hr
      = link_to_add_association 'Add Venue', f, :venues, class: t('buttons.mini.info')
      %hr
  .control-group
    .controls
      = f.submit class: t('buttons.primary')
      = link_to 'Cancel', cities_path, class: t('buttons.default')