= content_for(:title) do
  Edit #{@city.name}
.page-header
  %h2 Edit City
  #errors= errors_for @city


= simple_form_for @city, defaults: { error: false } do |f|
  %fieldset
    = f.input :name, required: false, autofocus: true, placeholder: 'Name'

  .row-fluid
    .span6
      #time_tables
        %fieldset
          %legend Times
          = bootstrap_table headers: ['Direction', 'Arrive', 'Depart'], types: [:condensed] do
            = f.simple_fields_for :time_tables, wrapper: false do |time_table|
              = render 'time_table_fields', f: time_table

    .span6
      #venues
        %fieldset
          %legend Venues
          = bootstrap_table headers: ['Name', ' '], types: [:condensed], html_options: { id: 'venues_table'} do
            = f.simple_fields_for :venues, wrapper: false do |venue|
              = render 'venue_fields', f: venue
        .links
          %hr
          = link_to_add_association 'Add Venue', f, :venues, class: t('buttons.mini.info'), data: { association_insertion_node: '#venues_table > tbody', association_insertion_method: 'append'  }

      %hr
  .control-group
    .controls
      = f.submit class: t('buttons.primary')
      = link_to 'Cancel', cities_path, class: t('buttons.default')