<%= content_for(:title) do %>
    Cities
<% end %>
<div class="page-header">
  <h2>Cities</h2>
  <%= link_to new_city_path,  class: 'btn btn-primary' do %>
    <%= fa_icon :plus, text: 'Setup city' %>
<% end %>
<%= link_to cities_path, class: 'btn btn-default' do %>
    <%= fa_icon :refresh, text: 'Refresh' %>
<% end %>
</div>
<div class="search pull-right">
  <%= simple_form_for :q, url: search_cities_path, defaults: { required: false, label: false }, html: { class: 'form-inline' },  method: :get, remote: true do |f| %>
      <%= f.input :name_cont, placeholder: 'Search', input_html: { class: 'input-sm' } %>
      <%= f.button :submit, 'Search', class: 'btn btn-sm btn-success'  %>
      <%= link_to cities_path, class: 'btn btn-sm btn-default' do %>
          <%= fa_icon :times, text: 'Clear' %>
      <% end %>
  <% end %>
   <p>
     <i class='small'>Search on city name.</i>
  </p>   
</div>
<div id="cities">
  <%= render partial: 'cities', locals: { cities: @cities } %>
</div>
<%= link_to new_bus_path,  class: 'btn btn-primary' do %>
    <%= fa_icon :plus, text: 'Setup city' %>
<% end %>
<%= link_to buses_path, class: 'btn btn-default' do %>
    <%= fa_icon :refresh, text: 'Refresh' %>
<% end %>
