.page-header
  %h2 Cities
.search.pull-right
  = simple_form_for :q, url: cities_path, defaults: { required: false, label: false }, html: {class: 'form-inline',method: :get} do |f|
    = f.input :name_cont, placeholder: 'Search', input_html: {class: 'search-query'}
    = f.submit 'Search', class: t('buttons.mini.warning')
    = link_to 'Clear', cities_path, class: t('buttons.mini.inverse'), icon: :times

= paginate @cities

- bootstrap_table headers:['Name', 'Venues','Actions'], types: [:bordered, :striped, :condensed], html_options: {class: 'sortable'} do
  = render @cities

= link_to 'Setup City', new_city_path, class: t('buttons.primary'), icon: :plus
= link_to 'Refresh', cities_path, class: t('buttons.default'), icon: :refresh

