= content_for(:title) do
  #{@city.name}
.page-header
  %h2 City
.well
  %p
    %strong Name:
    %br
    = @city.name
  %p
    %strong Venues:
    - if @city.venues.any?
      %ul
        - @city.venues.each do |v|
          %li= v.name
    - else
      %br
      None
.form-actions
  = back_to cities_path
  = link_to 'Edit', edit_city_path(@city), icon: :edit, class: t('buttons.info')
  = link_to 'Destroy', city_path(@city), method: :delete, data: { confirm: t('messages.confirm', resource: :city) }, icon: :times, class: t('buttons.danger')




