<%= content_for(:title) do %>
    <%= @city.name %>
<% end %>
<div class="page-header">
  <h2>City</h2>
  <div class="actions">
    <%= back_to cities_path %>
    <%= link_to edit_city_path(@city), class: 'btn  btn-warning' do %>
        <%= fa_icon :edit, text: 'Edit' %>
    <% end %>
    <%= link_to @city, method: :delete,  class: 'btn  btn-danger', data: { confirm: t('messages.confirm', resource: :city) } do %>
        <%= fa_icon :times, text: 'Destroy' %>
    <% end %>
  </div>
</div>
<div class="well">
  <p>
    <strong>Name:</strong>
    <br/>
    <%= @city.name %>
  </p>
  <p>
    <strong>Venues:</strong>
    <% if @city.venues.any? %>
      <ul>
        <%= content_tag_for(:li, @city.venues) { |venue| venue.name } %>
      </ul>
    <% else %>
      <br/>
      None
    <% end %>
  </p>
</div>
