<%= content_for(:title) do %>
    Edit Destinations
<% end %>
<div class="page-header">
  <h2>Edit Destinations</h2>
</div>
<div class="row col-md-12">
  <div class="col-md-7">
    <h4>Destinations</h4>
    <%= simple_form_for @route, url: route_destinations_path(@route), method: :patch do |f| %>
        <%= render 'shared/error_messages', object: @route %>
        <%= link_to_add_association  f, :destinations, data: { association_insertion_node: 'tbody', association_insertion_method: 'append' },  class: 'btn btn-warning btn-sm' do %>
            <%= fa_icon :plus, text: 'Add destination' %>
        <% end %>
        <table id="destinations" class="table table-bordered table-condensed route-destinations" data-behaviour="sortable">
          <thead>
          <tr>
            <th>City</th>
            <th>Sequence</th>
          </tr>
          </thead>
          <tbody>
          <%= f.simple_fields_for :destinations do |destination_form| %>
              <%= render 'destination_fields', f: destination_form %>
          <% end %>
          </tbody>
        </table>
        <%= f.button :submit, class: 'btn btn-success'  %>
        <%= link_to 'Back', routes_path, class: 'btn btn-default' %>
    <% end %>
  </div>
  <div class="col-md-4 well">
    <h4>Instructions</h4>
    <ol>
      <li>
        Click the orange add destination button above the table. This will add a new destination row at the end of the table.
      </li>
      <li>
        <strong>Click</strong> on the new destination row and <strong>drag</strong> the new destination to its correct position in the table. Eg  Port Alfred will come after East London.
      </li>
      <li>
       Once the new destination is dragged to its correct position all the other positions will be updated correctly.
      </li>
    </ol>
    <p>
      <b>NB</b>
      <br/>
      <em>
        Please note that connections are generated based on the position of the cities. thus please ensure that the correct position is setup.
        Thus it is important to choose the correct position, as a number of connections could be created that are incorrect.
      </em>
    </p>
  </div>
</div>
