<tr class="<%= dom_class(bus) %>" id="<%= dom_id(bus) %>">
  <td>
    <%= link_to  bus, class: 'btn btn-mini btn-info' do  %>
      <%= fa_icon :info, text: 'Show' %>
    <% end %>
    <%= link_to edit_bus_path(bus), class: 'btn btn-mini btn-inverse' do %>
       <%= fa_icon :edit, text: 'Edit' %>
    <% end %>
    <%= link_to bus, method: :delete, class: 'btn btn-mini btn-danger',  data: { confirm: t('messages.confirm', resource: :bus) } do %>
        <%= fa_icon :times, text: 'Destroy' %>
    <% end %>
  </td>
  <td>
    <%= link_to bus.name, bus %>
  </td>
  <td>
    <%= bus.year %>
  </td>
  <td>
    <%= bus.model %>
  </td>
  <td>
    <%= bus.capacity %>
  </td>
</tr>
