%tr{ class: dom_class(bus), id: dom_id(bus) }
  %td
    = link_to 'Show', bus, icon: :info, class: t('buttons.mini.info')
    = link_to_if(policy(bus).update?, 'Edit', edit_bus_path(bus), icon: :edit, class: t('buttons.mini.inverse')) {}
    = link_to_if(policy(bus).destroy?, 'Delete', bus, icon: :times, data: { confirm: t('messages.confirm', resource: :bus) }, method: :delete,  class: t('buttons.mini.danger')) {}
  %td= link_to bus.name, bus
  %td= bus.year
  %td= bus.model
  %td= bus.capacity
