%tr[bus]
  %td= link_to bus.name, bus
  %td= bus.year
  %td= bus.model
  %td= bus.capacity
  %td
    = link_to 'Show', bus, icon: iconize(:info), class: 'btn btn-info btn-mini'
    = link_to 'Edit', bus_builder_path(:details, bus_id: bus), icon: iconize(:edit), class: 'btn btn-inverse btn-mini'
    = link_to 'Delete', bus, icon: iconize(:times), data: { confirm: 'Are you sure you want to delete this bus?'}, method: :delete, class: 'btn btn-danger btn-mini'
