= simple_form_for @bus do |f|
  %fieldset
    %legend Bus
    = f.input :name, required: false
    = f.input :capacity
    = f.input :year
    = f.input :model
  - unless @bus.new_record?
    #seats
      = f.simple_fields_for :seats do |seat|
        = render 'seat_fields', f: seat
      .links
        %hr
        = link_to_add_association 'Add Seat', f, :venues, class: 'btn btn-info btn-mini'
        %hr
  %br
  = f.submit class: 'btn btn-primary'