= simple_form_for @bus, html: {class: 'form-inline'} do |f|
  %fieldset
    %legend Bus
    = f.input :name,required: false
    = f.input :capacity, required: false
    = f.input :year, required: false
    = f.input :model, required: false
    %legend Seats
    - bootstrap_table headers:['Row', 'Number',''], types: [:bordered, :condensed], html_options: {id: 'seats'} do
      = f.simple_fields_for :seats, wrapper: false do |seat|
        = render 'seat_fields', f: seat
    .links
      = link_to_add_association 'Add Seat', f, :seats, data: {association_insertion_node: 'tbody', association_insertion_method: 'append'}
  %br
  = f.submit class: 'btn btn-warning'


