= content_for(:title) do
  Edit #{@bus.name}

.page-header
  %h2 Edit Bus

#errors= errors_for @bus

%ul.nav.nav-tabs
  %li.active
    %a{ href: '#details', data: { toggle: 'tab' } } Details
  %li
    %a{ href: '#seating', data: { toggle: 'tab' }  } Seating

= simple_form_for @bus, defaults: { error: false }, html: { class: 'form-horizontal' } do |f|
  .control-group
    .controls
      = f.submit class: t('buttons.primary')
  .tab-content
    .tab-pane.active#details
      %fieldset
        = f.input :name, autofocus: true
        = f.input :capacity, disabled: true
        = f.input :year
        = f.input :model
    .tab-pane#seating
      %fieldset
        = bootstrap_table headers: ['Row', 'Number', ''], types: [:hover, :condensed], html_options: { id: 'seats' } do
          = f.simple_fields_for :seats, wrapper: false do |seat|
            %tr
              %td= seat.input :row, label: false, class: 'input-small'
              %td= seat.input :number, label: false, class: 'input-small'
  .control-group
    .controls
      = f.submit class: t('buttons.primary')
