<%= content_for(:title) do %>
    Buses
<% end %>
<div class="page-header">
  <h2>Buses</h2>
</div>
<div class="search pull-right">
  <%= simple_form_for :q, url: buses_path, defaults: { required: false, label: false }, html: { class: 'form-inline', method: :get } do |f| %>
      <%= f.input :name_or_model_cont, as: :search_box %>
      <%= f.button :submit, 'Search', class: 'btn btn-mini btn-warning'  %>
      <%= link_to buses_path, class: 'btn btn-mini btn-inverse' do %>
          <%= fa_icon :times, text: 'Clear' %>
      <% end %>
  <% end %>
</div>
<%= link_to new_bus_path,  class: 'btn btn-primary' do %>
    <%= fa_icon :plus, text: 'Setup bus' %>
<% end %>
<%= link_to buses_path, class: 'btn btn-default' do %>
    <%= fa_icon :refresh, text: 'Refresh' %>
<% end %>
<%= bootstrap_table headers: %w(Actions Name Year Model Capacity), types: %i(hover condensed), html_options: { class: 'sortable' } do %>
    <%= render @buses, cache: true %>
<% end %>
<%= link_to new_bus_path,  class: 'btn btn-primary' do %>
    <%= fa_icon :plus, text: 'Setup bus' %>
<% end %>
<%= link_to buses_path, class: 'btn btn-default' do %>
    <%= fa_icon :refresh, text: 'Refresh' %>
<% end %>