= content_for(:title) do
  New Bus

.page-header
  %h2 New Bus

#errors= errors_for @bus
= simple_form_for @bus, defaults: { error: false }, html: { class: 'form-horizontal' } do |f|
  .control-group
    .controls
      = f.submit class: t('buttons.primary')
  %fieldset
    = f.input :name, autofocus: true, placeholder: 'Name'
    = f.input :capacity
    = f.input :year, placeholder: 'Year'
    = f.input :model, placeholder: 'Model'
  .control-group
    .controls
      = f.submit class: t('buttons.primary')
