- cache @bus do
  .page-header
    %h2 Bus
  .well
    %p
      %strong Name:
      %br
      = @bus.name
    %p
      %strong Capacity:
      %br
      = @bus.capacity
    %p
      %strong Year:
      %br
      = @bus.year
    %p
      %strong Model:
      %br
      = @bus.model
    %p
      %strong Created At:
      %br
      = @bus.created_at
  .well
    %p
      %strong Seats:
      - bootstrap_table headers: %w(Row Number), types: %i(bordered condensed), html_options: { class: 'sortable' } do
        - @bus.seats.each do |seat|
          %tr
            %td= seat.row
            %td= seat.number
  .form-actions
    = back_to buses_path
    = link_to 'Edit', edit_bus_path(@bus), icon: :edit, class: t('buttons.inverse')
    = link_to 'Destroy', bus_path(@bus), method: :delete, data: { confirm: t('messages.confirm', resource: :bus) }, icon: :times, class: t('buttons.danger')




