<div class="well">
  <%= simple_form_for @report do |f| %>
    <%= f.input :name %>
    <%= f.input :daily, hint: 'This allows a report to be run each day only for that specific day, it will ignore the period from and period to' %>
    <div class='row'>
      <div class='col-md-6'>
        <%= f.input :period_from, as: :date, discard_day: true, order: [:month, :year], use_short_month: true %>
      </div>
      <div class='col-md-6'>
        <%= f.input :period_to, as: :date, discard_day: true, order: [:month, :year],  use_short_month: true %>
      </div>
    </div>
    <%= f.simple_fields_for :criteria do |c| %>
      <div class='row'>
        <div class='col-md-6'>
          <%= c.input :stop_connection_from_city_id_eq, collection: cities, label: 'From', selected: f.object.criteria['stop_connection_from_city_id_eq'] , input_html: { class: 'input-sm', data: { behaviour: 'dropdown', placeholder: 'Select from city' } } %>
        </div>
        <div class='col-md-6'>
          <%= c.input :stop_connection_to_city_id_eq, collection: cities, label: 'To', selected: f.object.criteria['stop_connection_to_city_id_eq'] ,input_html: { class: 'input-sm', data: { behaviour: 'dropdown', placeholder: 'Select to city' } } %>
        </div>
      </div>
      <fieldset>
        <legend>
          <h5>Statuses</h5>
        </legend>
        <%= c.input :status_eq_any, label: false, collection: Booking.statuses.except(:in_process).transform_keys(&:upcase), as: :check_boxes,  checked: f.object.criteria['status_eq_any'], item_label_class: 'checkbox-inline', item_wrapper_tag: false %>
      </fieldset>
      <fieldset>
        <legend>
          <h5>Passenger Types</h5>
        </legend>
        <%= c.input :passengers_passenger_type_id_eq_any, item_wrapper_tag: false, label: false, item_label_class: "checkbox-inline", collection: PassengerType.all, label_method: :description, as: :check_boxes, checked: f.object.criteria['passengers_passenger_type_id_eq_any'] %>
      </fieldset>
    <% end %>
    <%= f.button :submit, class: 'btn btn-success' %>
  <% end %>
</div>
