.well.well-small
  %h3 #{@report.name}
  %h4 Results Summary
  %p Items: #{@results.size}
  %p Total Amount: #{number_to_currency(@results.map(&:invoice_total).compact.reduce(&:+))}

.results
  - @results.group_by {|result| result.updated_at.beginning_of_month }.sort.each do |month, results_per_month|
    %h4= month.strftime('%B')
    = bootstrap_table headers: ['Trip', 'Start Date', 'Status', 'Client' ,'From', 'To', 'Qty', 'Price'], types: [:condensed] do
      - results_per_month.each do |result|
        %tr
          %td= result.trip_name
          %td= l result.trip_start_date, format: :long
          %td= result.status.upcase
          %td= result.client_full_name
          %td= result.from_city_name
          %td= result.to_city_name
          %td= result.quantity
          %td= number_to_currency result.invoice_total