<div class="page-header">
  <h2>
    <%= @report.name %>
  </h2>
  <div class="actions">
    <%= back_to reports_path %>
    <%= link_to 'Edit', edit_report_path(@report), icon: :edit, class: t('buttons.inverse') %>
    <%= link_to 'Destroy', @report, icon: :times, class: t('buttons.danger'), method: :delete %>
    <%= link_to 'Print', print_report_path(@report), class: t('buttons.primary'), target: '_blank' %>
    <%= link_to 'Download', download_report_path(@report), class: t('buttons.info'), data: { no_turbolink: true } %>
  </div>
</div>
<%= render 'reports/results' %>
