<tr class="<%= dom_class(charge) %>" id="<%= dom_id(charge) %>">
  <td>
    <%= link_to edit_charge_path(charge), class: 'btn btn-xs btn-warning' do  %>
      <%= fa_icon :edit, text: 'Edit' %>
    <% end %>
    <%= link_to charge, method: :delete,  class: 'btn btn-xs btn-danger', data: { confirm: t('messages.confirm', resource: :charge) } do  %>
      <%= fa_icon :times, text: 'Destroy' %>
    <% end %>
  </td>
  <td>
    <%= charge.description %>
  </td>
  <td>
    <%= number_to_percentage(charge.percentage, precision: 0) %>
  </td>
</tr>
