<%= simple_form_for @charge, defaults: { error: false }, html: { class: 'form-horizontal' } do |f| %>
    <fieldset>
      <%= f.input :description, autofocus: true, placeholder: 'Description' %>
      <%= f.input :percentage, placeholder: 'Percentage' %>
    </fieldset>
    <div class="control-group">
      <div class="controls">
        <%= f.submit  %>
        <%= link_to 'Cancel', charges_path, class: 'btn btn-default' %>
      </div>
    </div>
<% end %>