<%= content_for(:title) do %>
    New Charge
<% end %>
<div class="page-header">
  <h2>New Charge</h2>
</div>
<div id="errors">
  <%= errors_for @charge %>
</div>
<%= simple_form_for @charge, defaults: { error: false }, html: { class: 'form-horizontal' } do |f| %>
    <fieldset>
      <%= f.input :description, autofocus: true %>
      <%= f.input :percentage %>
    </fieldset>
    <div class="control-group">
      <div class="controls">
        <%= f.submit class: t('buttons.primary') %>
        <%= link_to 'Cancel', charges_path, class: t('buttons.default') %>
      </div>
    </div>
<% end %>
