- if user_signed_in?
  = link_to "Home", dashboard_path, class: 'brand'
  %ul.nav.pull-left
    - drop_down_menu('Bookings') do
      %li= link_to 'New', bookings_path, method: :post
      %li.divider
      %li= link_to 'View', bookings_path
    - drop_down_menu('Clients') do
      %li= link_to 'New', new_client_path
      %li.divider
      %li= link_to 'View', clients_path

    - unless current_user.clerk?
      - drop_down_menu('Trips') do
        %li= link_to 'New', trip_builder_index_path(trip_id: :building), method: :post
        %li.divider
        %li= link_to 'Current', trips_path
        %li.divider
        %li= link_to 'Archived', archived_trips_path
      - drop_down_menu('Manage') do
        %li= link_to 'Buses', buses_path
        %li.divider
        %li= link_to 'Cities',cities_path
        %li.divider
        %li= link_to 'Charges', charges_path
        %li.divider
        %li= link_to 'Discount', discounts_path
        %li.divider
        %li= link_to 'Drivers', drivers_path
        %li.divider
        %li= link_to 'Routes', routes_path
        %li.divider
        %li= link_to 'Payment Types', payment_types_path
        %li.divider
        %li= link_to 'Priority Pricing', seasonal_discounts_path


      %li= link_to 'Quick Tripsheet', trip_sheets_path
      %li= link_to 'Quick Quote', quick_quote_path
      %li= link_to 'Admin', users_path
      %li= link_to 'Reports', reports_path
      %li= link_to 'Notes', notes_path(context: controller_path.gsub('/','')), remote: true
      %li= link_to 'Settings', setting_path



  %ul.nav.pull-right
    %li.divider-vertical
    - drop_down_menu('Account') do
      %li= link_to 'Edit account', edit_user_registration_path
      %li{class: 'divider'}
      %li= link_to 'Logout', destroy_user_session_path, method: :delete
    %li.divider-vertical
- else
  = link_to "Home", root_path, class: 'brand'
  %ul.nav
    %li= link_to 'Login', new_user_session_path
    %li= link_to 'Sign up', new_user_registration_path


