- if user_signed_in?
  = link_to 'Home', dashboard_path, class: 'brand'
  %ul.nav.pull-left
    %li=link_to 'New (B)ooking', bookings_path, method: :post, accesskey: 'b',target: '_blank'
    %li=link_to 'New (C)lient', new_client_path, accesskey: 'c', target: '_blank'
    = drop_down_menu('Bookings') do
      %li= link_to 'New', bookings_path, method: :post
      %li.divider
      %li= link_to 'View', bookings_path
      %li.divider
      %li= link_to 'Archived', bookings_archives_path
    = drop_down_menu('Clients') do
      %li= link_to 'New', new_client_path
      %li.divider
      %li= link_to 'View', clients_path


    - unless current_user.clerk?
      %li= link_to 'New (T)rip', trip_builder_index_path(trip_id: :building), method: :post, accesskey: 't', target: '_blank'
      = drop_down_menu('Trips') do
        %li= link_to 'New', trip_builder_index_path(trip_id: :building), method: :post
        %li.divider
        %li= link_to 'Current', trips_path
        %li.divider
        %li= link_to 'Archived', trips_archives_path
      = drop_down_menu('Manage') do
        %li= link_to 'Buses', buses_path
        %li.divider
        %li= link_to 'Cities', cities_path
        %li.divider
        %li= link_to 'Charges', charges_path
        %li.divider
        %li= link_to 'Discount', discounts_path
        %li.divider
        %li= link_to 'Drivers', drivers_path
        %li.divider
        %li= link_to 'Routes', routes_path
        %li.divider
        %li= link_to 'Priority Pricing', seasonal_discounts_path
        %li.divider
        %li= link_to 'Users', users_path
        %li.divider
        %li= link_to 'Settings', setting_path

      = drop_down_menu('Reporting') do
        %li= link_to 'Reports', reports_path
        %li.divider
        %li= link_to 'Daily Bookings', daily_bookings_path
    %li= link_to 'Quick Trip Sheet', trip_sheets_path
    %li= link_to 'Quick Quote', quick_quote_path
    %li= link_to 'Notes', '#', id: 'show_notes'
  %ul.nav.pull-right
    %li.divider-vertical
    = drop_down_menu('Account') do
      %li= link_to 'Edit account', edit_user_registration_path
      %li.divider
      %li= link_to 'Logout', destroy_user_session_path, method: :delete
    %li.divider-vertical
- else
  = link_to 'Home', root_path, class: 'brand'
  %ul.nav
    %li= link_to 'Login', new_user_session_path
    %li= link_to 'Sign up', new_user_registration_path


