!!!
%html
  %head
    %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1, maximum-scale=1' }
    %title= content_for?(:title) ? yield(:title) : 'Sacobs'
    %meta{ content: content_for?(:description) ? yield(:description) : 'Sacobs', name: 'description' }
    %meta{ content: content_for?(:keywords) ? yield(:keywords) : 'Sacobs', name: 'keywords' }
    = stylesheet_link_tag :application, media: 'all',  'data-turbolinks-track' => true
    = javascript_include_tag 'head'
    = headjs_include_tag 'vendor', 'application'
    = csrf_meta_tags
    = favicon_link_tag 'apple-touch-icon-ipad-76x76-precomposed.png', rel: 'apple-touch-icon', type: 'image/png'
    = favicon_link_tag 'apple-touch-icon-ipad-retina-152x152-precomposed.png', rel: 'apple-touch-icon', type: 'image/png'
    = favicon_link_tag 'apple-touch-icon-iphone-60x60-precomposed.png', rel: 'apple-touch-icon', type: 'image/png'
    = favicon_link_tag 'apple-touch-icon-iphone-retina-120x120-precomposed.png', rel: 'apple-touch-icon', type: 'image/png'
    = yield(:head)
  %body{ data: { action: action_name, controller: controller_path, class_name: js_class_name } }
    #wrap
      %header.navbar.navbar-fixed-top.navbar-inverse
        %nav.navbar-inner
          .container-fluid
            = render 'layouts/navigation'
      #main{ role: :main }
        .container-fluid
          .content
            .unobtrusive-flash-container
              = yield
              = render 'shared/notes' if user_signed_in?

      #push
    %footer.navbar.navbar-fixed-bottom.navbar-inverse
      %nav.navbar-inner
        .container-fluid
          = render 'layouts/footer'
