<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
  <meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport"/>
  <title>
    <%= content_for?(:title) ? yield(:title) : 'Sacobs' %>
  </title>
  <meta content="<%= content_for?(:description) ? yield(:description) : 'Sacobs' %>" name="description"/>
  <meta content="<%= content_for?(:keywords) ? yield(:keywords) : 'Sacobs' %>" name="keywords"/>
  <%= stylesheet_link_tag :application, media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'apple-touch-icon-ipad-76x76-precomposed.png', rel: 'apple-touch-icon', type: 'image/png' %>
  <%= favicon_link_tag 'apple-touch-icon-ipad-retina-152x152-precomposed.png', rel: 'apple-touch-icon', type: 'image/png' %>
  <%= favicon_link_tag 'apple-touch-icon-iphone-60x60-precomposed.png', rel: 'apple-touch-icon', type: 'image/png' %>
  <%= favicon_link_tag 'apple-touch-icon-iphone-retina-120x120-precomposed.png', rel: 'apple-touch-icon', type: 'image/png' %>
  <%= yield(:head) %>
</head>
<body class="<%= controller_name %>" data-action="<%= action_name %>" data-controller="<%= controller_path %>" data-class-name="<%= js_class_name %>">
<div id="wrap">
  <header class="navbar navbar-fixed-top navbar-inverse">
    <nav class="navbar-inner">
      <div class="container-fluid">
        <%= render 'layouts/navigation' %>
      </div>
    </nav>
  </header>
  <div id="main" role='main'>
    <div class="container-fluid">
      <div class="content">
        <div class="unobtrusive-flash-container">
          <%= yield %>
          <%= render 'shared/notes' if user_signed_in? %>
        </div>
      </div>
    </div>
  </div>
  <div id="push"></div>
  <footer class="navbar navbar-fixed-bottom navbar-inverse">
    <nav class="navbar-inner">
      <div class="container-fluid">
        <%= render 'layouts/footer' %>
      </div>
    </nav>
  </footer>
</div>
</body>
</html>

