= content_for (:title) do
  Add Voucher
.page-header
  %h2 New Voucher

%h3 Please note the value of this credit voucher will be deducted from the next booking for #{@client.full_name}:
.well
  = simple_form_for [@client, @voucher], defaults: { error: false }, html: { class: 'form-horizontal' } do |f|
    %fieldset
      = f.input :amount, autofocus: true
    .control-group
      .controls
        = f.submit class: t('buttons.primary')
        = link_to 'Cancel', @client, class: t('buttons.default')


